.xoo-wsc-notice-box{
	z-index: 1000000;
}
.xoo-wsc-modal {
	.xoo-wsc-icon-checkmark {
		display: none;
	}
	.xoo-wsc-footer {
		.xoo-wsc-cont {
			display: none;
		}
	}
	.xoo-wsc-ctxt {
		font-family: 'weber-serif-bold';
	}
	.xoo-wsc-content {
		font-size: inherit;
		line-height: 1.3;
	}
	.xoo-wsc-product {
		display: flex;
		align-items: center;
	}
	.xoo-wsc-remove {
		color: #000;
		font-size: 16px;
	}
	.xoo-wsc-subtotal {
		font-size: 1.1em;
	}
	.xoo-wsc-shiptxt {
		display: none;
	}
	.xoo-wsc-img-col {

		img {
			width: 70%;
			margin: 0 auto;

		}
	}
	.xoo-wsc-footer {
		.button {
			@extend %button;
		}
		.button.xoo-wsc-chkt {
			background-color: $dn-primary-color;
			color: #fff;
			&:hover{
				background-color: $dn-hover-color;
			}
		}
	}
	.xoo-wsc-body {
		font-size: 22px;
		a {
			color: $dn-primary-color;
			font-family: 'weber-serif-bold';
			text-decoration: none;
		}
	}
	.xoo-wsc-items-count {
		top: 16px;
		left: 31px;
		font-size: 16px;
		font-family: "din-pro-bold";
		padding-top: 3px;
		background: $dn-primary-color;
		color: #fff;
		width: auto;
		height: auto;
		padding: 0 3px;
		line-height: 1;
	}
	.xoo-wsc-cart{
		background-color: #eaeaea;
		&:hover{
			background-color: #dcdcdc;
		}
	}
	.xoo-wsc-basket {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		right: 0;
		top: 0;
		height: 65px;
		width: 70px;
		&:hover{
			background-color: $dn-hover-color;
			.xoo-wsc-items-count{
				background-color: $dn-hover-color;
			}
		}
	}
	.xoo-wsc-bki {
		background-image: url(../../../img/commerce-white.svg);
		background-size: contain;
		width: 100%;
		height: 100%;
		display: block;
		background-repeat: no-repeat;
		background-size: 68%;
		background-position: center;

		&:before {
			display: none;
		}
	}
}
.woocommerce-cart {
	
	h1.entry-title {
		margin: 36px auto;
	}
	.quantity {
		display: flex;

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		
		/* Firefox */
		input[type=number] {
			-moz-appearance: textfield;
			font-size: 1.2em;
			font-family: 'din-pro-con-black';
			line-height: 1.3;
			padding-top: 6px;
			width: 2em;
		}
	}
	table.shop_table.cart {
		border: none;

		tr {
			position: relative;

			&:after {
			}
		}
		th {
			color: #888;
			font-size: 1.2rem;
			text-transform: uppercase;
			font-family: 'din-pro-con-medium';
		}
		td {
			border-top: none!important;
			border-bottom: 1px dashed #000;
		}
		.product-thumbnail {
			background-color: $beige;

			img {
				width: 200px;
				height: auto;
				mix-blend-mode: multiply;
			}
		}
		td.actions .coupon {
			display: flex;
			.input-text {
				width: 160px !important;
				height: 50px;
			}
		}
		.coupon .button {
			@extend %button;
			@extend %button-outline;
			font-size: 1.3rem;
		}
		.button[name=update_cart] {
			@extend %button;
			@extend %button-red;
		}
	}
	.cart_totals {
		h2 {
			display: none;
		}
		.wc-proceed-to-checkout {
			padding: 0;
			margin-top: 30px;
			.checkout-button {
				padding: 20px 10px!important;
				background-color: $dn-primary-color!important;
				color: #fff!important;
				text-transform: uppercase!important;
				border-radius: 0;
				@include transition;
				&:hover{
					background-color: $dn-hover-color!important;
					border-color: $dn-hover-color!important;
				}
			}
			.secure{
				text-align: center;
			}
		}
	}
}

.weber-cart-checkout-page{
	padding-top: 100px;
	padding-bottom: 100px;
	.woocommerce-message,
	.woocommerce-error{
		margin-bottom: 30px;
		pre{
			background: transparent;
			padding: 0;
			margin: 0;
			overflow: auto;
			white-space: normal;
		}
	}
}

.cart-head{
	font-family: 'weber-serif-regular', sans-serif;
	font-size: 30px;
	text-align: left;
	text-transform: none;
}

.cart-heading{
	border-bottom: 1px solid #000;
	&:after{
		content: ' ';
		display: table;
		width: 100%;
	}
	.cart-head{
		float: left;
	}
	.total-item{
		float: right;
	}
}

.weber-cart-checkout-page{
		table.shop_table{
			td{
				background-color: transparent!important;
				text-align: left!important;
				&:before{
					content: ''!important;
				}
			}
			td.order-line-item{
				text-align: left!important;
			}
		}
}

.weber-cart-items{
	.product-thumbnail{
		@include bpm(992px){
			width: 130px;
			float: left;
		}
	}

	.product-name{
		@include bpm(992px){
			width: calc(100% - 240px);
			float: left;
			padding-left: 50px;
			padding-top: 35px;
		}
		a{
			font-family: 'din-pro-con-medium';
			font-size: 22px;
			color: #000!important;
		}
	}

	.product-subtotal{
		@include bpm(992px){
			width: 110px;
			float: right;
		}
		text-align: right;
		font-family: 'din-pro-con-medium';
		font-size: 22px;
		@include bpm(992px){
			padding-top: 35px;
		}
	}

	.product-remove{
		@include bpm(992px){
			width: 100%;
			float: left;
		}
		text-align: right;
		@include bpm(992px){
			line-height: 1;
		}
		padding-bottom: 5px;
		a.remove{
			width: auto;
			height: auto;
			display: inline-block;
			background-color: transparent!important;
			color: rgba(0,0,0,.37)!important;
			font-size: 16px;
			font-family: "din-pro-con-medium";
			text-decoration: underline;
			&:hover{
				color: $dn-primary-color!important;
			}
		}
	}
}
.woocommerce-checkout,
.woocommerce-cart{
	.weber-cart-checkout-page{
		.inner-review-holder,
		.cart-collaterals{
			padding: 30px;
			background-color: #fff;
			border-radius: 7px;
			border: 1px solid #D1D1D1;
			font-family: "din-pro-regular";
			@include bp(991px){
				margin-top: 50px;
			}
			.cart_totals {
				width: 100%;
				margin-top: 30px;
			}
			.shop_table{
				border: none;

				td,th{
					padding: 5px 0!important;
					border: none;
					background-color: transparent!important;
				}
				th{
					width: calc(100% - 100px);
					padding-right: 5px;
				}
				td{
					text-align: right!important;
					@include bpm(992px){
						width: 100px;
					}
					
					@include bp(991px){
						&:before{
							content: attr(data-title) " "!important;
						}
					}
				}
				.order-total{
					td,th{
						padding: 0;
					}
				}
				.total-wrapper{
					width: 100%;
					margin-top: 10px;
					border-top: 1px dashed #000;
					border-bottom: 1px dashed #000;	
					padding-top: 15px;
					padding-bottom: 15px;
					&:after{
						content: ' ';
						display: table;
						width: 100%;
					}
					.td{
						float: right;
					}
					.th{
						float: left;
					}
				}
			}
		}
	}
}

.order-line-item{
	border-color: #000!important;
	padding-left: 0!important;
	padding-right: 0!important;
}


.cart-related-accessories{

	ul.products{
		padding: 30px 0;
		li.product{
			@include bpm(992px){
				flex: 0 0 33.33%!important;
				border-bottom: none!important;
				border-right: none!important;
				border-left: 1px dashed #000!important;
				&:first-child{
					border-left: none!important;
				}
			}
		}
	}
}