.woocommerce-checkout {
	h3,
	p.yourdetails span {
		font-family: 'weber-serif-regular', sans-serif;
		font-size: 22px;
		text-align: left;
		text-transform: none;
		border-bottom: 1px dashed #000;
		padding-bottom: .7rem;
	}
	p.yourdetails {
		width: 100%;
		clear: both!important;
		span{
			display: block;
			margin-top: 2rem;
		}
	}

	form.checkout {
		padding-bottom: 4em;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 9px;
		right: 6px;
	}
	#billing_country_field{
		.woocommerce-input-wrapper{
			background-color: #fff;
			border: 1px solid #707070;
			padding: 6px 10px !important;
			display: block;
			font-family: "din-pro-regular";
			font-size: 1.1rem;
			opacity: 0.5;
			cursor: not-allowed;
			height: 44px;
		}
	}
	.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select, .select2-container--default .select2-selection--single, .select2-search__field, .select2-results__option {
		background-color: #fff;
		border: 1px solid #707070;
		height: 44px;
		padding: 10px !important;
		display: block;
		font-family: 'din-pro-regular';
		font-size: 1.1rem;

		&:focus {
			border-color: #000;
		}
		&[readonly]{
			opacity: .5;
			cursor: not-allowed;
		}
	}
	.shop_table.woocommerce-checkout-review-order-table {
		border: none;

		thead {
			display: none;
		}
	}
	#payment {
		background-color: #fff;
		
		#place_order {
			@extend %button;
			@extend %button-red;
		}
		div.payment_box {
			background-color: $dn-primary-color;
			color: #fff;
			padding: 12px;
			margin: 16px 0;
	
			&:before {
				border-bottom-color: $dn-primary-color;
			}
		}
	}
	.woocommerce-order ul.order_details {
		margin: -.5em 0 1em;
		display: block;
		padding-left: 0;

		&:before, &:after {
			display: none;
		}

		li {
			float: none;
			border-left: 1px dashed $dn-primary-color;
			border-right: none;
			padding-left: 1.5em;
			margin-left: 0;
			
			&:first-child {
				padding-top: 18px;

			}
		}
	}
}

.woocommerce-checkout{
	#customer_details{
		.woocommerce-billing-fields__field-wrapper{
			margin-left: -5px;
			margin-right: -5px;
		}
		.woocommerce-billing-fields{

			.form-row{
				clear: none;
				margin: 0;
				padding-left: 5px;
				padding-right: 5px;
				margin-bottom: 8px;
				.optional{
					display: none;
				}
				label{
					font-family: 'din-pro-con-medium';
					text-transform: uppercase;
					font-size: 15px;
				}
				select{
					font-size: 15px;
				}
			}
		}
	}
}
/* 
.inner-review-holder{
	padding: 30px;
    background-color: #fff;
    border-radius: 7px;
	border: 1px solid #D1D1D1;
	table.shop_table{
		tr{
			td,th{
				padding-left: 0;
				padding-right: 0;
				border: none;
			}	
		}
	}
} */

.checkout-steps{
	padding: 30px 0 65px;
	ul{
		list-style: none;
		padding: 0;
		margin:0;
		li{
			display: inline-block;
			margin: 0 50px;
			span{
				vertical-align: middle;
				display: inline-block;
				&.number{
					font-family: 'din-pro-con-medium';
					width: 45px;
					height: 45px;
					line-height: 43px;
					background-color: transparent;
					border: 1px dashed;
					border-radius: 50%;
					margin-right: 20px;
					@include transition
				}
			}
			&.active span.number{
				background-color: $dn-primary-color;
				color: #fff;
				border-style: solid;
				border-color: $dn-primary-color;
			}
			&.passed span.number{
				background-color: #000;
				color: #fff;
				border-style: solid;
				border-color: #000
			}
		}
	}
}

.inner-review-holder{
	h3{
		border-bottom: 1px solid #000;
	}
}

.checkout-mini-order{
	margin-top: 50px;
	h3{
		border-bottom: 1px solid #000;
		.total-item{
			float: right;
			font-size: 18px;
			font-weight: normal;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			width: 100%;
			font-family: "din-pro-con-medium";
			line-height: 1.6em;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px dashed #000;

			&:after{
				content: '';
				display: table;
				width: 100%;
			}
			.product-thumbnail{
				width: 120px;
				float: left;
			}
			.product-name{
				width: calc(100% - 120px);
				float: left;
				font-size: 22px;
				padding-left: 20px;
				padding-top: 5px;
			}
			.product-total{
				font-family: "din-pro-con-black";
				font-size: 20px;
				margin-top: 5px;
			}
			img{
				mix-blend-mode: multiply;
			}
		}
	}
}

.next-button{
	margin-top: 2rem;
	a.dn-button{
		font-family: 'din-pro-con-medium';
		width: 100%;
		max-width: 300px;
		padding: 15px 10px;
		font-size: 20px;
		text-transform: uppercase;
		@include bp(991px){
			max-width: 100%;
		}
		&:hover{
			background-color: $dn-hover-color!important;
			border-color: $dn-hover-color!important;
		}
	}
}

.woo-thankyou{
	text-align: center;
	padding: 100px 0 120px;
	font-size: 20px;
	h1{
		margin-bottom: 10px;
	}
}

.woocommerce-checkout .weber-cart-checkout-page #payment {
	background-color: transparent;
	.form-row.place-order{
		padding: 0;
		padding-top: 20px;
		margin-top: 25px;
		border-top: 1px dashed #000;
	}
	ul.payment_methods {
		padding: 0;
		margin: 0;
		border: 0;
		.card_type_radios{
			display: none;
		}
		li{
			fieldset{
				padding: 0;
				margin: 0;
				border: none;
				> *:nth-child(6){
					width: 60%!important;
				}
				> *:nth-child(7){
					width: 40%!important;
				}
			}
			> label{
				position: absolute;
				left: -999999em;
			}
			.payment_box{
				color: $dn-text-color;
				background-color: transparent;
				margin: 0;
				padding: 0;
				&:before{
					display: none;
				}
				>p{
					display: none;
				}
				.form-row{
					width: 100%;
					margin: 0;
					padding: 0;
					margin-bottom: 8px;
					label{
						font-family: "din-pro-con-medium";
						text-transform: uppercase;
						font-size: 15px;
					}
					select,input{
						border-color: #707070!important;
					}
					select{
						width: calc(50% - 10px);
						margin-right: 10px;
						float: left;
						font-size: 14px;
						height: 44px;
						background-color: #fff;
						border: 1px solid #707070!important;
					}
					#mpgs_card_csc{
						width: 100%!important;
					}
				}
			}
		}
	}
	#place_order{
		float: left;
		font-family: 'din-pro-con-medium';
		width: 100%;
		max-width: 300px;
		padding: 15px 10px;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 1.6;
		border-radius: 0;
		@include bp(991px){
			max-width: 100%;
		}
		&:hover{
			background-color: $dn-hover-color!important;
			border-color: $dn-hover-color!important;
		}
	}
}