#front-partner-logo{
	padding: 100px 0;
	.desc{
		font-size: 22px;
		text-align: center;
		margin: 0 auto;
		@include bpm(768px){
			max-width: 80%;
		} 
	}
	.partner-logo{
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
		img{
			display: inline-block;
		}
	}
}
#weber-accessories-cta {
	margin: 150px 0;

	@include bp(767px){
		margin: 0;
	}
  
	.container {
	  @include bp(767px) {
		padding-left: 0;
		padding-right: 0;
	  }
	}
  }
  
  .cta-blocks {
  
	position: relative;
	color: #fff;
	padding: 80px 40px;
  
	@include bp(767px) {
	  text-align: center;
	  padding: 70px 20px;
	}
  
	.background-container {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
  
	  &:before {
		content: '';
		position: absolute;
		top: 7px;
		left: 7px;
		right: 7px;
		bottom: 7px;
		border: 1px dashed #fff;
		z-index: 5;
		border-radius: 3px;
  
		@include bp(767px) {
		  display: none;
		}
	  }
  
	  &:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 50%;
		top: 0;
		left: 0;
		background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
		z-index: 2;
  
		@include bp(767px) {
		  width: 100%;
		}
	  }
	}
  
	.content {
	  position: relative;
	  z-index: 2;
  
	  h2 {
		text-align: left;
  
		@include bp(767px) {
		  text-align: center;
		}
	  }
	}
  
	.link {
	  a {
		font-family: 'din-pro-con-medium', sans-serif;
		padding: 15px;
		width: 200px;
		border: 1px dashed #fff;
		color: #fff;
		text-align: center;
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		border-radius: 3px;
		@include transition;
  
		@include bp(767px) {
		  width: 100%;
		}
  
		&:hover,
		&:active {
		  background-color: $dn-primary-color;
		  border-color: $dn-primary-color;
		  border-style: solid;
		}
	  }
	}
  }
  
  
  #page {
	padding-top: 65px;
	background-color: #F7F4EF;
    background-image: url(../../../img/beige.png);
  }
  
  
  
  #home-product-category-wrapper {
	  h2{
		  color: $dn-primary-color;
		  text-align: center;
		  margin-bottom: 60px;
		  @include bp(767px){
			margin-bottom: 30px;
		  }
	  }
	.home-product-category {
	  display: flex;
	  flex-direction: column;
  
  
	  @media (min-width: 1200px) {
		&:not(:nth-child(4)) {
		  border-right: 1px dashed #333;
		}
	  }
  
	  @media (min-width: 768px) and (max-width: 1200px) {
  
		&:nth-child(1),
		&:nth-child(2) {
		  border-bottom: 1px dashed #333;
		}
  
		&:nth-child(1),
		&:nth-child(3) {
		  border-right: 1px dashed #333;
		}
	  }

	  @media (max-width: 767px) {
		  &:last-child > a{
			  border-bottom: none!important;
		  }
	  }
  
  
	  >a {
		padding-bottom: 30px;
  
		@media (max-width: 767px) {
		  border-bottom: 1px dashed #333;
		}
	  }
  
	  .bg-image {
		text-align: center;
		height: 300px;
		margin-bottom: 24px;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		mix-blend-mode: darken;
		transition: all .3s ease;
		background-color: $beige;
		background-blend-mode: multiply;
		position: relative;
  
  
		@media (max-width: 767px) {
		  height: 260px;
		}
	  }
  
	  h2 {
		font-size: 45px;
  
		@include bp(767px) {
		  font-size: 35px;
		}
	  }
  
	  h3 {
		font-family: 'weber-serif-bold', 'serif';
		color: #000;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
		margin-bottom: 40px;
		@include bp(767px){
			margin-bottom: 20px;
		}
	  }
  
	  .button-holder {
		text-align: center;
  
		&:after {
		  content: " ";
		  width: 1px;
		  height: 30px;
		  display: block;
		  border-left: 1px dashed $dn-primary-color;
		  margin: 2px auto 0;
		}
	  }
  
	}
  }
  
  #why-weber {
  
	font-family: 'weber-serif-light', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 150px;

	@include bp(767px){
		margin-top: 50px;
	}
  
	img {
	  display: block;
	  margin: 0 auto;
	}
  
	h2 {
	  margin-bottom: 10px;
	  &.section-title{
		  color: $dn-primary-color;
	  }
	}
  
	.feature {
	  margin: 0;
	  padding: 0;
	  list-style: none;
  
	  li {
		border-top: 1px dashed $dn-primary-color;
		padding: 50px 0;
  
		&:first-child {
		  border-top: 0;
		}
  
		.line_1,
		.line_2 {
		  font-family: 'weber-serif-bold', 'serif';
		  text-transform: uppercase;
		  line-height: 1;
		}
  
		.line_1 {
		  font-size: 70px;
		}
  
		.line_2 {
		  font-size: 45px;
		}
  
		&.red {
  
		  .line_1,
		  .line_2 {
			color: $dn-primary-color;
		  }
		}
  
		&.swap {
		  .line_1 {
			font-size: 45px;
		  }
  
		  .line_2 {
			font-size: 70px;
		  }
		}
  
		p {
		  margin-bottom: 0;
		  margin-top: .5em;
		}
  
	  }
	}
  
  }
  
  #why-weber{
	  .weber-description{
		  margin-bottom: 100px;
		  @include bp(767px){
			margin-bottom: 0;
		  }
	  }
  }
  
  #why-weber .weber-title {
	font-family: 'din-pro-con-black', sans-serif;
	color: #000;
	margin: 0;
	margin-bottom: 30px;
	line-height: 1em;
  
	@media (min-width: 992px) {
	  font-size: 50px;
	}
  }
  
  #why-weber .subtitle {
	font-size: 25px;
	margin-bottom: 24px;
  }
  
  #why-weber .learnmore {
	width: 100%;
	text-align: center;
	bottom: 50px
  }
  
  #why-weber .learnmore a {
	color: #fff;
	text-decoration: none;
	display: inline-block
  }
  
  
  // login partner
  .partner-login-container {
	.container {
	  max-width: 555px;
	}
  
	.inner-flex {
	  display: flex;
	  align-items: center;
	  min-height: calc(100vh - 120px);
	  padding: 40px 0;
	  justify-content: center;
  
	  form {
		width: 100%;
		display: block;
	  }
	}
  
	.logo {
	  text-align: center;
	  margin-bottom: 30px;
	}
  
	.form-group {
	  margin-bottom: 30px;
  
	  label {
		line-height: 1.2;
		margin-bottom: 10px;
		display: block;
  
		small {
		  display: block;
		  font-size: 80%;
		}
	  }
  
	  #business-code {
		border: 1px dashed #191919;
		text-transform: uppercase;
	  }
	}
  
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
  
	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}
  
	.dev-notes {
	  display: block;
	  padding: 10px;
	  background-color: #2f902f;
	  color: #fff;
	  font-size: 80%;
	  margin-top: 10px;
	}
  
	.partner-error {
	  font-family: 'din-pro-regular';
	  font-size: 16px;
	  list-style: none;
	  padding: 15px;
	  background-color: $dn-primary-color;
	  color: #fff;
	  margin: 0 0 15px 0;
  
	  li {
		display: block;
	  }
	}
  
	input[type="submit"] {
	  font-family: 'din-pro-con-medium';
	  text-transform: uppercase;
	  font-size: 20px;
	  width: 100%;
	  max-width: 200px;
	  text-align: center;
	}
  
	.form-footer {
	  text-align: right;
  
	  @include bp(767px) {
		text-align: center;
	  }
	}
  
  }
  
  // weber category
  .filter-section {
	padding-top: 110px;
	padding-bottom: 60px;

	@include bp(767px){
		padding-top: 50px;
		padding-bottom: 30px;
	}
  
	h2 {
	  margin-bottom: 30px;
	  text-align: center;
	  color: $dn-primary-color;
	  font-size: 30px;
	  @include bp(767px){
		font-size: 25px;
	  }
	}
  }
  
  .weber-product-range {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	/* padding-bottom: 80px;
	@include bp(767px){
		padding-bottom: 0;
	} */
  
	li {
	  display: inline-block;
	  margin: 0 15px;
	  @include bp(767px){
		margin: 0;
		font-size: 0;
	  }
  
	  a {
		color: rgba(26, 26, 26, .25) !important;
		transition: color .3s linear;

		.border-icon{
			
			@include bp(767px){
				display: none;
			}
		}
  
		&:hover {
		  color: #000 !important;
  
		  .border-icon {
			 animation: rotate-360-cw 6s linear;
		  }
  
		  .filter-item-icon:before {
			border-width: 2px;
		  }
  
		}
  
		&.active-circle {
		  color: $dn-primary-color !important;
  
		  .filter-item-icon:before {
			border-width: 2px;
		  }
  
		  .icon-type {
			  @include bpm(768px){
				top: 35px;
				right: 35px;
				bottom: 35px;
				left: 35px;
			}
		  }
  
		  &[aria-label="Weber Q"] .icon-type {
			background-image: url(../../../img/type-q-non-electric-filter-red.png) !important;
		  }
  
		  &[aria-label="Charcoal"] .icon-type {
			background-image: url(../../../img/type-charcoal-filter-red.png) !important;
		  }
  
		  &[aria-label="Electric"] .icon-type {
			background-image: url(../../../img/type-electric-filter-red.png) !important;
		  }
  
		  &[aria-label="Gas"] .icon-type {
			background-image: url(../../../img/type-gas-filter-red.png) !important;
		  }
  
		  .icon-copy {
			opacity: 1;
		  }
		}
  
	  }
	}
  
	.filter-item-icon {
	  height: 128px;
	  width: 128px;
	  position: relative;
	  padding: 10px;
	  margin-bottom: 20px;
	  border-radius: 50%;
	  @include bp(767px){
		width: 70px;
		height: 70px;
		margin-bottom: 0;
	  }
  
	  &:before {
		top: 4px;
		bottom: 4px;
		left: 4px;
		right: 4px;
		content: "";
		position: absolute;
		border: 1px solid currentColor;
		border-radius: inherit;
		transition: border-width .3s linear;
	  }
	}
  
	.icon-copy {
	  display: block;
	  font-family: 'din-pro-con-medium', sans-serif !important;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  opacity: 0;
	  transition: opacity .3s linear;
	  @include bp(767px){
		display: none;
	  }
	}
  
	.icon-type {
	  top: 25px;
	  bottom: 25px;
	  left: 25px;
	  right: 25px;
	  position: absolute;
	  background-size: contain;
	  background-position: 50%;
	  background-repeat: no-repeat;
	  @include bp(767px){
		top: 15px;
		left: 15px;
		bottom: 15px;
		right: 15px;
	  }
	}
  
	.sub-heading {
	  font-family: 'din-pro-con-medium', sans-serif;
	  font-size: 16px;
	  text-transform: uppercase;
	  letter-spacing: .1em;
	  font-weight: 600;
	  display: block;
	  text-align: center;
	  color: $dn-text-color;
	  @include bp(767px){
		display: none;
	  }
	}
  }

  body.page-template-page-t-simple{
	  .entry-header{
		  padding: 0;
	  }
	  .site-main{
		  padding-top: 150px;
		  padding-bottom: 150px;
		  @include bp(1200px){
			padding-bottom: 50px;
			padding-top: 50px;
		}
		@include bp(767px){
			padding-bottom: 30px;
			padding-top: 30px;
		}
	  }
	  .container{
		  max-width: 800px;
		  
		  h1{
			  color: $dn-primary-color;
			  margin-bottom: 100px;
			  @include bp(1200px){
				margin-bottom: 50px;
			  }
			  @include bp(767px){
				margin-bottom: 30px;
				text-align: left;
			  }
		  }
	  }
	  .xoo-wsc-modal{
		  display: none;
	  }
  }
  
  .footer-login-link{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  text-align: center;
	  background-color: #fff;
	  padding: 15px 0;
	  li{
		  display: inline-block;
		  margin: 0;
		  font-size: 14px;
		  &:before{
			content: "|";
			margin: 0 10px;
		  }
		  &:first-child:before{
			display: none;
		  }
		  a{
			
			text-decoration: underline!important;
			color: #000;
			&:hover{
				color: $dn-primary-color;
			}
		  }
	  }
  }
  .product-range-title{
	  text-align: center;
	  margin-bottom: 30px;
	  color: $dn-primary-color;
  }
  
.woocommerce{
  ul.products{
	  &:before,&:after{
		  display: none!important;
	  }
  }
}