.woocommerce {
	.woocommerce-ordering {
		select {
			padding: 8px 10px;
			font-family: 'weber-serif-regular';
			background-color: transparent;
			font-size: .8em;
		}
	}
	.woocommerce-products-header {
		h1 {
			font-family: 'weber-serif-bold';
			text-transform: uppercase;
		}

		+ .container {
			@media (max-width: 991px) {
				width: 100%;
			}
		}
	}
	ul.products {
		border-top: 1px dashed $dn-text-color;
		border-bottom: 1px dashed $dn-text-color;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 8em;
		@include bp(767px){
			border-bottom: 0;
			margin-bottom: 100px;
		}

		li.product {
			flex: 0 0 50%;
			margin: 0;
			font-size: 22px;
			padding: 34px;
			border-top: 1px solid transparent;
			border-bottom: 1px dashed $dn-text-color;
			
			&:nth-last-child(2):nth-child(2n+1), &:last-child {
				border-bottom: none;
			}
			&:nth-child(2n+1){
				border-right: 1px dashed $dn-text-color;
			}
			.product-text-wrapper{
				a{
					
					&:hover{
						h3{
							color: $dn-primary-color;
						}
					}
					&.woocommerce-loop-product__link{
						padding-right: 15px;
						width: calc(100% - 75px);
					}
				}
			}
			img {
				mix-blend-mode: multiply;
			}
			h3 {
				color: #333;
				text-transform: none;
				@include transition;
			}
			.price {
				color: $dn-primary-color;
				font-family: 'weber-serif-regular';
			}
			.product-image-wrapper {
				display: block;
				height: 380px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				mix-blend-mode: multiply;

				@media (max-width: 991px) {
					height: 280px;
				}
			}
			.product-text-wrapper {
				display: flex;
				align-items: flex-start;
				position: relative;

				.price {
					margin: 0;
				}
				h3 {
					padding-bottom: .2em;
				}

				.added_to_cart{
					display: none;
				}

				.add_to_cart_button {
					margin-left: auto;
					font-size: 0px;
					background-image: url(../../../img/commerce.svg);
					background-size: 46%;
					width: 72px;
					height: 72px;
					background-repeat: no-repeat;
					background-position: 48% 50%;
					background-color: transparent;
					border: 1px dashed $dn-text-color;
					border-radius: 6px;
					position: relative;
					@include transition;

					&:hover, &.loading {
						background-color: $dn-primary-color;
						background-image: url(../../../img/commerce-white.svg);
						border: 1px solid $dn-primary-color;
						&:after {
							opacity: 1;
						}
					}
					&:after {
						position: absolute;
						left: 4px;
						top: 4px;
						right: 4px;
						bottom: 4px;
						border: 2px solid $dn-primary-color;
						content: " ";
						display: block;
						border-radius: 4px;
						opacity: 0;
						transition: opacity 0s ease, border 0s ease;
						animation: none;
					}
					&.added {

						&:after {
							background-color: $dn-primary-color;
							background-image: url(../../../img/commerce-white.svg);
							opacity: 1;
							background-repeat: no-repeat;
							background-position: 48% 50%;
							background-size: 50%;
						}
					}
					&.loading:after{
						opacity: 1;
					}
					@media (max-width: 991px) {
						width: 42px;
						height: 42px;
						border-radius: 4px;
					}
				}
				.added_to_cart {
					position: absolute;
					right: 3.5px;
					bottom: -24px;
					text-transform: uppercase;
					font-size: .7em;
				}
			}
			@media (max-width: 991px) {
				padding: 14px;
			}
			@media (max-width: 767px) {
				flex: 0 0 100%;
				border-right: none !important;
				border-bottom: 1px dashed $dn-text-color !important;

				/* .product-image-wrapper {
					height: 170px;
				} */
			}
		}
		&.slides {
			margin-bottom: 3em;
			justify-content: center;

			li:first-child:last-child {
				border-right: none;
				border-left: none;
				max-width: 400px;
			}
			li.product .product-image-wrapper {
				background-blend-mode: multiply;
				background-color: $beige;
				height: 280px;
			}
		}
	}
	#page .accessories-section {
		
		.inner-related-accessories{
			background-color: $beige;
		}

	}
	#content div.product {
		margin-left: 0;
		margin-right: 0;

		.single-product-images {
			@media (min-width: 992px) {
				padding-right: 42px;
			}
			.woocommerce-product-gallery__wrapper img:not(.zoomImg), .flex-control-thumbs li img {
				mix-blend-mode: multiply;
			}
			.woocommerce-product-gallery__image, .flex-control-nav li {
				background-color: $beige;
			}
			.woocommerce-product-gallery {
				width: 100%;
				float: none;
			}
		}
		.product_title {
			font-size: 60px;
			text-align: left;
		}
		p.price {
			color: #333;
			font-family: 'din-pro-bold';
			font-size: 1.4em;
			margin-top: 16px;
			letter-spacing: -.03em;
			span.price{
				color: inherit;
    			font-size: inherit;
			}
		}
		.woocommerce-variation{
			>div{
				display: none!important;
			}
		}
		/* .woocommerce-variation-add-to-cart {
			display: flex;
			align-items: stretch;
		} */
		.quantity {
			//display: flex;

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}
			
			/* Firefox */
			input[type=number] {
			  -moz-appearance: textfield;
			  font-size: 1.2em;
			  font-family: 'din-pro-con-black';
			  line-height: 1.3;
			  padding-top: 6px;
			  width: 2em;
			}
		}
		.xoo-wsc-icon-checkmark{
			display: none!important;
		}
		button.button {
			background-color: $dn-primary-color;
			font-family: 'din-pro-con-medium';
			text-transform: uppercase;
			font-weight: normal;
			float: none;

			&.single_add_to_cart_button{
				width: 100%;
				max-width: 200px;
				padding: 21px 15px;
				margin-left: 5px;
				img{
					height: 15px;
					width: auto;
					vertical-align: middle;
					position: relative;
					top: -2px;
					margin-left: 5px;
				}
				&:hover{
					background-color: $dn-hover-color;
				}
			}

			&.added {

				.xoo-wsc-icon-checkmark{
					display: none;
				}

				&:after {
					position: relative;
					top: 0px;
					left: 3px;
				}
			}
		}
		.added_to_cart.wc-forward {
			display: none;
		}
	}
	.xoo-wsc-icon-spinner2 {
		position: absolute;
		right: 12px;
	}
	#content div.product div.summary, div.product div.summary, #content div.product div.summary, div.product div.summary {
		float: none;
		width: 100%;
	}
}
.woocommerce-notices-wrapper > div, .woocommerce-form-coupon-toggle > div, .wc_payment_methods .woocommerce-notice, .woocommerce-error {
	border: none;
	background-color: $dn-primary-color;
	color: #fff;
	padding: 12px 20px;
	font-size: 1.3rem;
	line-height: 1.4 !important;
	margin-bottom: 0;

	.showcoupon {
		font-weight: 500;
		color: #fff !important;
	}
}
.woocommerce-form-coupon-toggle {
	display: none !important;
}

.weber-color-picker{
	margin-left: -15px;
	label{
		position: relative;
		margin: 15px;
		display: inline-block;
		width: 60px;
		text-align: center;
		cursor: pointer;
		font-family: 'din-pro-con-medium';
		text-transform: uppercase;

		.color-bg{
			width: 30px;
			height: 30px;
			margin: 0 auto;
			display: block;
			border-radius: 50%;
			background-color: #fff;
			position: relative;
			box-shadow: 0 0 2px rgba(0,0,0,.2);
			margin-bottom: 5px;

			&.color-titanium{
				background-color: #eaeaea;
			}
			&.color-black{
				background-color: #000000;
			}
			&.color-red{
				background-color: #dd3333;
			}
			&.color-crimson{
				background-color: #7c2529;
			}
			&.color-smoke{
				background-color: #a9a9a9;
			}
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				background-color: #fff;
				border-radius: 50%;
				opacity: 0;
				@include transition
			}
		}
		input:checked ~ span{
			color: $dn-primary-color;
		}
		input:checked + .color-bg:before{
			opacity: 1;
		}
	}
}

.browse-all-accessories{
	margin-bottom: 150px;
	@include bp(991px){
		margin-bottom: 100px;
	}
	@include bp(767px){
		margin-bottom: 70px;
	}
	a{
		font-size: 20px;
		width: 100%;
		max-width: 1000px;
		color: #696969!important;
		border: 1px dashed #C9C5C2;
		border-radius: 3px;
		position: relative;
		display: block;
		padding: 20px 10px;
		margin: 0 auto;
		@include transition;

		&:after{
			content: '';
			top: 3px;
			left: 3px;
			right: 3px;
			bottom: 3px;
			position: absolute;
			border: 1px solid #C9C5C2;
			@include transition;
		}
		&:hover{
			color: #000!important;
			border-color: #000;
			&:after{
				border-color: #000;
				border-width: 2px;
			}
		}
	}
}

.feature-mobile{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			padding-top: 50px;
			margin-top: 50px;
			border-top: 1px dashed #fff;
		}
	}
}
.woocommerce-notices-wrapper a.button,
.added_to_cart.wc-forward{
	display: none
}

#related-accessories{

	.inner-related-accessories{
		overflow: hidden;
		background-color: #fff;
		padding-top: 150px;
		padding-bottom: 150px;
		@include bp(767px){
			padding-bottom: 100px;
			padding-top: 100px;
		}

		> .container{
			margin-bottom: 50px;
			@include bp(767px){
				margin-bottom: 30px;
			}
		}

		.gallery-accessories{
			padding-left: 55px;
			padding-right: 55px;
			mix-blend-mode: multiply;
			@include bp(1200px){
				padding-left: 5px;
				padding-right: 5px;
			}
			.gal-inner{
				overflow: hidden;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
		.red{
			color: $dn-primary-color;
		}
		
		ul.products{
			display: block;
			border: none!important;
			//border-right: 1px dashed rgba(26,26,26,.3)!important;
			//border-left: 1px dashed rgba(26,26,26,.3)!important;
			margin-bottom: 0;
			@include bp(767px){
				border: none!important;
			}
			li{
				clear: none;
				width: 25%;
				border:none!important;
				&:first-child{
					&:after{
						display: none;
					}
				}
				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 200%;
					border-left: 1px dashed #000!important;
					@include bp(767px){
						display: none;
					}
				}
				
			}
		}
	}
	.slick-track{
		overflow: hidden;
		margin: 0 auto;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 55;
		text-indent: -999999em;
		width: 50px;
		height: 50px;
		border: 1px dashed #000;
		background-color: #fff;
		background-image: url(../../../img/next.svg);
		background-repeat: no-repeat;
		background-position:center;
		border-radius: 50%;
		padding: 0;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 1px;
			height: 800px;
			top: 100%;
			border-right: 1px dashed #000;
			left: 50%;
		}
		&:after{
			top: auto;
			bottom: 100%;
		}
		&.slick-disabled{
			opacity: .3;
		}
		@include bp(767px){ 
			top: 140px;
			width: 40px;
			height: 40px; 
		}
		&.slick-next{
			left: auto;
			right: 0;
			transform: translateX(50%) rotate(180deg);
		}
		&.slick-prev{
			transform: translateX(-50%);
		}
	}
}

.container-header-accessories{
	margin-top: 70px;
	max-width: 1920px;
	margin: 0 auto;
}

.container-accessories{
	padding-left: 80px;
	padding-right: 80px;
	max-width: 1920px;
	margin: 0 auto;

	@include bp(1200px){
		padding-left: 30px;
		padding-right: 30px;
	}

	@include bp(767px){
		padding-left: 15px;
		padding-right: 15px;
	}

	.inner-accessories{
		position: relative;
		padding-bottom: 50px;
		&:after{
			content: ' ';
			width: 100%;
			display: table;
		}
	}

	.sort-filter{
		width: 100%;
		float: left;
		text-align: right;
		margin-bottom: 30px;
		
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				display: inline-block;
				margin-left: 15px;
				&.title{
					text-transform: uppercase;
					font-family: 'din-pro-con-medium', sans-serif ;
				}
				a{
					@include transition;
					&:hover{
						color: $dn-primary-color;
					}
				}
				a.active{
					color: $dn-primary-color;
					font-family: 'weber-serif-bold', serif;
				}
			}
		}
		@include bp(991px){
			max-width: 500px;
			text-align: center;
			margin: 0 auto;
			float: none;
			margin-bottom: 50px;
			a{
				-webkit-tap-highlight-color: transparent;
			}
			ul{
				li{
					width: 50%;
					display: block;
					float: left;
					margin: 0;
					&.title{
						width: 100%;
						margin-bottom: 10px;
					}
					a{
						display: block;
						padding: 10px 0;
						border: 1px dashed;
						border-radius: 5px;
						margin: 5px;
						&.active{
							//border-style: solid;
						}
					}
				}
				&:after{
					content: ' ';
					display: table;
					width: 100%;
				}
			}
			.triger-filter a{
				display: block;
				padding: 10px 0;
				border-radius: 5px;
				margin: 5px;
				color: #fff;
				text-transform: uppercase;
				background-color: $dn-primary-color;
			}
		}
	}


	.sidebar-filter{
		border-radius: 4px;
		border: 1px solid #000;
		padding: 50px;
		width: 22%;
		float: left;
		//position: sticky;
		//top: 80px;

		@include bp(1200px){
			padding: 30px;
		}
		

		.parent-cat{
			margin-bottom: 2rem;
		}

		h3{
			color: $dn-primary-color;
			margin-bottom: 1rem;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				a{
					font-family: 'din-pro-con-medium';
					text-transform: uppercase;
					@include transition;
					outline: none;
					&:hover{
						color: $dn-primary-color;
					}
					&.active{
						font-family: 'din-pro-con-black';
						color: $dn-primary-color;
					}
				}
			}
		}

		a{
			-webkit-tap-highlight-color: transparent;
		}

		@include bp(991px){
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			border: none;
			background: #fff;
			z-index: 55;
			padding-top: 100px;
			height: 100vh;
			overflow: auto;
			transform: translateX(100%);
			@include transition;
			&.open-filter{
				transform: translateX(0);
			}

			h3.visible-xs{
				color: #000;
				border-bottom: 1px dashed;
				padding-bottom: 1rem;
				font-size: 20px;
				float: left;
				width: calc(100% - 60px);
				clear: none;
			}

			.close-filter {
				text-align: right;
				float: right;
				top: 14px;
				position: relative;
					a{
					position: relative;
					display: inline-block;
					height: 47px;
					width: 47px;
					transform: rotate(45deg);
					color: #000;

					&:before,&:after{
						height: 1px;
						width: 17px;
						top: 50%;
						left: 50%;
						content: "";
						position: absolute;
						background: #000;
						transform: translate(-50%);
					}
					&:after{
						height: 17px;
						width: 1px;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	.container-loop{
		width: 78%;
		float: right;
		padding-left: 40px;
		overflow: hidden;
		@include bp(991px){
			width: 100%;
			padding-left: 0;
		}
	}

	ul.products {
		margin-right: -1px;
		margin-bottom: -1px;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: hsla(40,43%,96%,.8);
			z-index: 30;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease-in-out;
		}

		&.loading::before{
			opacity: 1;
			visibility: visible;
		}

		li.product{
			
			border: none!important;
			padding: 30px 0;
			border-bottom: 1px dashed !important;
			overflow: hidden;

			@include bpm(1400px){
				flex: 0 0 33.33%;
			}

			&.not-found{
				flex: 0 0 100%!important;
				text-align: center;
			}

			
			.product-image-wrapper{
				height: 340px;
				margin-bottom: 15px;
			}
			.inner-wrapper{
				position: relative;
				overflow: visible;
				padding: 30px;
				height: 100%;
				display: block;
				width: 100%;
				
				&:before{
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					border-right: 1px dashed #000!important;
				}
				
			}
		}
	}
}

.not-available-online,
.already-purchase{
	border: 1px dashed #000;
	background: #eae3d4;
	line-height: 1.2em;
	border-radius: 7px;
	padding: 15px;
	display: inline-block;
	clear: both;
}
.one-time-purchase-note{
	background: #e02827;
    color: #fff;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 7px;
	font-weight: 900;
}

/* Delivery and Assembly Page Css Here */
.woocommerce-cart  td.product-price {

	font-weight: 700;
  }
  
  .woocommerce-cart  td.product-name .cus-require-sec {
	display: block;
  }
  .woocommerce-cart  span.dnprice {
	display: block;
	font-weight: normal;
  }
  .cus-require-sec {
	width: 100%;
	display: block;
	margin-top: 15px;
	padding-left: 5px;
	label{
		cursor: pointer;
	}
  }
  .cus-require-sec ul {
	padding: 0;
	margin: 0;
	width: 100%;
	display: inline-block;
	list-style: none;
  }
  .cus-require-sec ul li{
	padding-left: 35px;
	margin-bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 18px;
	color: #000;
  }
  .cus-require-sec ul li input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 25px;
	width: 25px;
	left: 0;
	top: 0;
	z-index: 9999;
  }
  .cus-require-sec ul li .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 1px dashed #000;
	border-radius: 4px;
  }
  .cus-require-sec ul li .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .cus-require-sec ul li input:checked ~ .checkmark:after {
	display: block;
  }
  .cus-require-sec ul li .checkmark:after {
	left: 9px;
	top: 4px;
	width: 6px;
	height: 12px;
	border: solid #000;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  .cus-require-sec ul li.disable-checked {
	pointer-events: none;
  }
  .cus-require-sec ul li.disable-checked .checkmark {
	opacity: 0.5;
  }