@import "../default/mixins";

.dn-horiz-divider {
    width: 100%;
    display: block;
    clear: both;
    .row {
        @media ( min-width: 768px) {
            display: flex;
        }
    }
    .image-container {
        position: relative;
        @media ( max-width: 767px) {
            height: 200px;
        }
    }
    .dn-card-small {
        @include bp(767px){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .horiz-contents {
        padding: 85px;
        @media ( max-width: 1199px) {
            padding: 50px;
        }
        @media ( max-width: 767px) {
            padding: 17px 0; 
        }
    }
    
    @media ( min-width: 1200px) {
        .image-container, .horiz-contents {
            min-height: 400px;
        }
        .horiz-contents {
            display: table;
            .dn-card-small {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}