@import "../default/mixins";

.dn-cols {
    @include standard-container-padding();
    .container {
        .row {
            @media ( max-width: 767px) {
                margin-left: -15px;
                margin-right: -15px;
            }
            &>div {
                @include remove-leading-margins();
            }

        }
    }
}