@import "../default/mixins";

.dn-grav-form {

    @include standard-container-padding();

    .intro-content {
        @include intro-content-margin();
        text-align: center;
        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }

    .col-xs-12 {
        
        .gform_wrapper {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .gform_wrapper .gform_footer {
        padding-bottom: 0;
    }

    h2 {
        text-align: center;
    }
}