@import "../default/mixins";

.dn-basic-post-news{
    padding-bottom: 50px;
    @media ( max-width: 991px) {
        padding-bottom: 25px;
    }
    
    @media ( min-width: 992px) {
        display: flex;
    }
    .image-container {
        position: relative;
        flex-basis: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 2rem;
        background-color: black;
        @media ( max-width: 991px) {
            width: 100%;
            height: 300px;
            display: block;
            margin-bottom: 20px;
        }
        @media ( max-width: 767px) {
            height: 200px;
        }
        
    }
    .loop-title{
        margin-bottom: .25rem;
        word-break: break-word; 
    }
    .deets{
        margin-bottom: 1rem;
        font-size: 95%;
    }
    .card-side-contents {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        @media ( max-width: 991px) {
            padding-top: 0;
            padding-bottom: 0;
        }
        a {
            @include remove-leading-margins();
        }
        h3 {
            padding-bottom: 0.45rem;
        }
    }
    &.hover {
        .image-container {
            .bg-image {
                opacity: 0.7;
            }
        }
        h3 {
            color: $dn-secondary-color;
        }
    }
}