@import "../default/mixins";


.gmap {
    height: 100%;
    min-height: 500px;
    width: 100%;
    @include bp(991px){
        min-height: 250px 
    }
    
}

.map-contact{
    p:last-child {
        margin-bottom: 0rem;
    }
    display: flex;
    flex-direction: row-reverse;
    @include bp(991px){
        display: block;
        width: 100%
    }
    
    > div{
        width: 50%;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        @include bp(991px){
            display: block;
            width: 100%
        }
    }
    .contact{
        padding: 85px;
        @media ( max-width: 1199px) {
            padding: 50px;
        }
        @include standard-side-padding();
        
        > *{
            display: block;
            width: 100%
        }
    }
    .address{
        display: block;
        width: 100%;
    }

    h2{
        margin-top: 0
    }

    &.business-hour{
        text-align: center;
        ul{
            list-style: none;
            padding: 0;
            margin: 0
        }
    }
}