@import "../default/mixins";

.dn-rectangle-hover-blocks {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;

    .dn-steps-item {
        min-height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        a {
            border: none;
            color: white;
            font-size: 40px;
            &:hover {
                color: white;
            }
            z-index: 1;
        }
        img {
            width: auto;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
        }
        transition: all .5s;
        z-index: 1;

        &:hover {
            transform: scale(1.2);
        }
        &:before {
            content: "";
            -webkit-transition: all .5s;
            transition: all .5s;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $dn-secondary-color;
        }
        &:hover::before {
            transition: all .5s;
            background-color: $dn-secondary-color;
        }
    }
}