@import "../default/mixins";

.dn-full-image {
    position: relative;
    background-color: black;
    .bg-image {
        opacity: 0.6;
    }
    .dn-card {
        position: relative;
        padding-top: 150px;
        padding-bottom: 150px;
        @media ( max-width: 767px) {
            padding-top: 50px;
            padding-bottom: 60px;
        }
        text-align: center;
        @include remove-leading-margins();
        * {
            color: white;
        }
    }
} 