.dn-button {
	background-color: #ccc;
	border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    padding: 6px 24px;
    text-decoration: none;
}
table{
    width: 100%
}