@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?gehncl");
    src: url("../fonts/icomoon.eot?gehncl#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?gehncl") format("truetype"),
      url("../fonts/icomoon.woff?gehncl") format("woff"),
      url("../fonts/icomoon.svg?gehncl#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    @include icomoon-font();
  }
  
  .icon-DN_black:before {
    content: "\e919";
  }
  .icon-checked:before {
    content: "\e917";
  }
  .icon-map:before {
    content: "\e913";
  }
  .icon-share:before {
    content: "\e914";
  }
  .icon-youtube:before {
    content: "\e90a";
  }
  .icon-vimeo:before {
    content: "\e90b";
  }
  .icon-skype:before {
    content: "\e90c";
  }
  .icon-google-plus:before {
    content: "\e90d";
  }
  .icon-linkedin:before {
    content: "\e90e";
  }
  .icon-instagram:before {
    content: "\e90f";
  }
  .icon-twitter:before {
    content: "\e910";
  }
  .icon-pinterest:before {
    content: "\e911";
  }
  .icon-facebook:before {
    content: "\e912";
  }
  .icon-close:before {
    content: "\e918";
  }
  .icon-minus:before {
    content: "\e906";
  }
  .icon-plus:before {
    content: "\e905";
  }
  .icon-chevron-right:before {
    content: "\e901";
  }
  .icon-chevron-left:before {
    content: "\e902";
  }
  .icon-chevron-down:before {
    content: "\e903";
  }
  .icon-chevron-up:before {
    content: "\e904";
  }
  .icon-search:before {
    content: "\e900";
  }
  .icon-mail:before {
    content: "\e915";
  }
  .icon-clock:before {
    content: "\e916";
  }
  .icon-checkmark:before {
    content: "\e909";
  }
  .icon-paperplane:before {
    content: "\e907";
  }
  .icon-shopping-cart:before {
    content: "\e908";
  }


  @font-face {
    font-family: 'weber-serif-light';
    src: url('../fonts/weber-serif/WeberSerif-Light.eot');
    src: url('../fonts/weber-serif/WeberSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/weber-serif/WeberSerif-Light.woff2') format('woff2'),
        url('../fonts/weber-serif/WeberSerif-Light.woff') format('woff'),
        url('../fonts/weber-serif/WeberSerif-Light.ttf') format('truetype'),
        url('../fonts/weber-serif/WeberSerif-Light.svg#WeberSerif-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'weber-serif-bold';
    src: url('../fonts/weber-serif/WeberSerif-Bold.eot');
    src: url('../fonts/weber-serif/WeberSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/weber-serif/WeberSerif-Bold.woff2') format('woff2'),
        url('../fonts/weber-serif/WeberSerif-Bold.woff') format('woff'),
        url('../fonts/weber-serif/WeberSerif-Bold.ttf') format('truetype'),
        url('../fonts/weber-serif/WeberSerif-Bold.svg#WeberSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'weber-serif-regular';
    src: url('../fonts/weber-serif/WeberSerif.eot');
    src: url('../fonts/weber-serif/WeberSerif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/weber-serif/WeberSerif.woff2') format('woff2'),
        url('../fonts/weber-serif/WeberSerif.woff') format('woff'),
        url('../fonts/weber-serif/WeberSerif.ttf') format('truetype'),
        url('../fonts/weber-serif/WeberSerif.svg#WeberSerif') format('svg');
    font-weight: normal;
    font-style: normal;
}





  @font-face {
    font-family: 'din-pro-con-black';
    src: url('../fonts/din-pro/DINPro-CondBlack.eot');
    src: url('../fonts/din-pro/DINPro-CondBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din-pro/DINPro-CondBlack.woff2') format('woff2'),
        url('../fonts/din-pro/DINPro-CondBlack.woff') format('woff'),
        url('../fonts/din-pro/DINPro-CondBlack.ttf') format('truetype'),
        url('../fonts/din-pro/DINPro-CondBlack.svg#DINPro-CondBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'din-pro-con-medium';
    src: url('../fonts/din-pro/DINPro-CondMedium.eot');
    src: url('../fonts/din-pro/DINPro-CondMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din-pro/DINPro-CondMedium.woff2') format('woff2'),
        url('../fonts/din-pro/DINPro-CondMedium.woff') format('woff'),
        url('../fonts/din-pro/DINPro-CondMedium.ttf') format('truetype'),
        url('../fonts/din-pro/DINPro-CondMedium.svg#DINPro-CondMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'din-pro-regular';
    src: url('../fonts/din-pro/DINPro.eot');
    src: url('../fonts/din-pro/DINPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din-pro/DINPro.woff2') format('woff2'),
        url('../fonts/din-pro/DINPro.woff') format('woff'),
        url('../fonts/din-pro/DINPro.ttf') format('truetype'),
        url('../fonts/din-pro/DINPro.svg#DINPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-pro-bold';
    src: url('../fonts/din-pro/DINPro-Bold.eot');
    src: url('../fonts/din-pro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din-pro/DINPro-Bold.woff2') format('woff2'),
        url('../fonts/din-pro/DINPro-Bold.woff') format('woff'),
        url('../fonts/din-pro/DINPro-Bold.ttf') format('truetype'),
        url('../fonts/din-pro/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}