@import "../default/mixins";

.basic-content {
    @include standard-container-padding();
    
    .row {
        @include remove-leading-margins();
    }

    // disable first element margin top
    > .container > .row > div > *:first-child{
        margin-top: 0 
    }

}

.has-padding + .has-padding{
    padding-top: 0!important; 
}