@import "../default/mixins";

.dn-cta {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #393939;
    @media ( max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .row {
        @media ( min-width: 768px) {
            display: flex;
        }
    }
    .cta-content,
    .button-container {
        @media ( min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .cta-content {
        @media ( max-width: 767px) {
            margin-bottom: 1em;
        }
        &>div {
            @include remove-leading-margins();
        }
        * {
            color: white;
        }
    }
    .button-container {
        .dn-button {
            @media ( min-width: 768px) {
                align-self: flex-end;
            }
        }
    }
}