@import "../default/mixins";

.dn-basic-post-card {
    @include bp(767px){
        background-color: #f5f5f5;
    }
    
    .image-container {
        position: relative;
        height: 220px;
        @media ( max-width: 767px) {
            height: 140px;
        }
    }
    .post-content {
        background-color: #f5f5f5;
        padding: 30px 20px;
    }
    .loop-title{
        margin-bottom: .25rem;
        word-break: break-word;
    }
    .deets {
        margin-bottom: 1rem;
        font-size: 95%;
        
    }
   /*  .dn-button {
        margin-top: 25px;
    } */
}