@import "../default/mixins";

.dn-repeat-card {
    
    .bg-shader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: .5;
    }

    .row {
        @media ( min-width: 992px ) {
            display: flex;
        }
    }
    
    .content {
        .dn-card {

            padding: 150px;
            @media ( max-width: 1499px) {
                padding: 100px;
            }
            @media ( max-width: 767px) {
                padding: 30px 0px;
            }

            .bg-image {
                opacity: 0.8;
            }

            h2, p, .dn-button {
                position: relative;
            }
        }
        &:nth-of-type(even) {
            background-color: #eeeded;
        }
    }
}