@import "../default/mixins";

.dn-dividers {
    @include standard-container-padding();
    .horiz-contents {
        @media ( max-width: 767px) {
            padding-bottom: 0rem; 
        }
    }
}