@import "../default/mixins";

.dn-full-dividers {
    @media ( min-width: 1200px) {
        .image-container, .horiz-contents {
            min-height: 550px;
        }
        .horiz-contents {
            display: table;
            .dn-card-small {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    @media ( max-width: 767px) {
        @media ( max-width: 767px) {
            .horiz-contents {
                padding-top: 17px;
                padding-bottom: 17px;
            }
        }
        .dn-horiz-divider:last-of-type {
            .horiz-contents {
                padding-bottom: 40px;
            }
        }
    }
}