@import "../default/mixins";

.dn-image-hero-repeats { 
    overflow: hidden;
    position: relative;
    font-size: 0; 

    &.flex-container {
        width: 100vw; 
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        padding: 8px;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        color: white;
        font-size: 35px; 
        background-color: $dn-secondary-color;
        opacity: 0.7;
        transition: opacity $main-transition-time $main-transition-type;
        -webkit-transition: opacity $main-transition-time $main-transition-type;
        -moz-transition: opacity $main-transition-time $main-transition-type;
        -o-transition: opacity $main-transition-time $main-transition-type;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
        @media ( max-width: 767px) {
            font-size: 25px;
            padding: 4px;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .image-container {
        position: relative;
        display: inline-block;
        width: 25%;
        .inner{
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
        }
        &.video-link{
            .overlay{
                &:before{
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-left: 60px solid $dn-primary-color;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -40px;
                    margin-left: -30px;
                }
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            i,
            div {
                transition: opacity $main-transition-time $main-transition-type;
                -webkit-transition: opacity $main-transition-time $main-transition-type;
                -moz-transition: opacity $main-transition-time $main-transition-type;
                -o-transition: opacity $main-transition-time $main-transition-type;
            }
            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $dn-primary-color;
                opacity: 0;
            }
            i {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                opacity: 0;
            }
        }
        &:hover {
            cursor: pointer;
            .overlay {
                div {
                    opacity: 0.3;
                }
                i {
                    opacity: 1;
                }
            }
        }
        @media ( max-width: 1199px) {
            width: 33.333vw;
            height: 33.333vw;
        }
        @media ( max-width: 767px) {
            width: 100vw;
            height: 66.6666vw;
        }
    }
    .slick-slide>div {
        margin-bottom: -6px;
    }
}