/*!
Theme Name: Digital Noir Starter Pack
Author: Digital Noir
Author URI: https://digital-noir.com
*/

// Load Mixins
@import "default/mixins";

// variables
@import "default/variables";

// WP default styling
@import "default/default";
@import "default/bootstrap";
@import "default/fonts"; 

// forms
@import "default/forms";

// Part
@import "header/header";
@import "footer/footer";

// plugins
@import "plugins/woocommerce";

 .mobile {
    @media (min-width: 768px) {
        display: none;
    }
 }
 .not-mobile {
     @media (max-width: 767px) {
         display: none;
     }
 }

 #page .button-svg-outline{
     font-size: 20px;
     color: $dn-primary-color;
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     @include transition;
     
    display: inline-block;
    border: 1px dashed $dn-primary-color;
    width: 200px;
    line-height: 1;
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    z-index: 1;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dn-primary-color;
        display: block;
        content: " ";
        border-radius: 6px;
        z-index: -1;
        opacity: 0;
        @include transition;
    }
    &:hover, &:active {
        color: #fff;
        border:1px solid $dn-primary-color;
        &:after {
            opacity: 1;
        }
    }
    
     &.white{
         color:#fff;
     }
     .bg, svg{
         position:absolute;
         width:100%;
         height: 100%;
         top: 0;
         left: 0;
     }
     .anchor{
         position:relative;
     }

   
     @media (max-width: 767px) {
         padding: 15px;
         width: 100%;
     }
 }


/* product cat */

.product-cat-icon {
    max-width: 90px;
    margin: 0px auto;
    position: absolute;
    z-index: 95;
    top: -10px;
    width: 100%;
    left: 0;
    right: 0;
    .bg{
        color:red;
    }
    .icon{
        color:#fff;
        position:absolute;
        width:30%;
        left:50%;
        top:50%;
        @include transform(translateX(-50%) translateY(-50%));
        &.gas{
            width:48%;
        }
        &.q{
            width:50%;
        }
    }
}
.product-cat-content .desc .subtitle {
    font-family: 'umbrageregular', sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-size: 27px;
    line-height: 1em;
}

.product-col-3:before {
    z-index: -2
}

.product-col-3:after {
    z-index: -1
}

.product-col-3 .black-overlay{
    @include absolute;
    z-index:1;
    background:rgba(0,0,0,0.3);
    display:block
}


.product-cat-content{
    @include bp(568px){
        position:relative;
        z-index:10
    }
}
.product-cat-content .desc { 
    max-width: 190px;
    position: relative;
    z-index: 5
}

.product-cat-content .desc h2 {
    font-size: 42px;
    margin: 0;
    line-height: 1em;
}

.premium-product .product-cat-content .desc h2,
.weber-product .product-cat-content .desc h2 {
    width: 255px;
}

.product-cat-content .desc .subtitle {
    font-family: 'umbrageregular', sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-size: 27px;
    line-height: 1em;
}

.product-col-3:before,
.product-col-3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center
}

.product-col-3:before {
    z-index: -2
}

.product-col-3:after {
    z-index: -1
}

.product-col-3 .black-overlay{
    @include absolute;
    z-index:1;
    background:rgba(0,0,0,0.3);
    display:block
}

.pre-content{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 65px;
    @include bp(767px){
        margin-bottom: 40px;
    }
}

.button-opaque {
    font-size: 21px;
    text-transform: uppercase;
    padding: 15px 50px 20px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 0.95em;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    text-shadow: none;
    padding-top: 19px !important;
}

.black-scheme .button-opaque {
    color: #000!important;
    background: #2F2F2F url(img/button-black.png) no-repeat;
    background-size: 100% 100%
}

.white-scheme .button-opaque {
    color: #fff!important;
    background: #2F2F2F url(img/button-white.png) no-repeat;
    background-size: 100% 100%;
}

.white-scheme .button-white:before {
    display: none
}

.hover-running.black-scheme .button-opaque,
.hover-running.white-scheme .button-opaque {
    color: #fff!important;
    background: #2F2F2F url(img/button-red.png) no-repeat;
    background-size: 100% 100%

}


.section-how {
    background: #2F2F2F url(../../../img/charcoal.png);
    padding-top: 150px;
    text-align: center;
    color: #fff;

    @media (max-width: 767px) {
        padding-top: 80px;
    }
    
}



#ranges-filter{
     padding: 0 0 100px 0;
    background-color: #fbf8f2;
}


    .section-how {
        background-color: #2F2F2F;
        overflow: hidden;
        .desc{
            max-width: 950px;
            margin: 0 auto;
        }
        .feature-image{
            text-align: center;
            img{
                margin: 0 auto;
                display: block;
            }
            .mobile-feat{
                margin-left: -50px;
                margin-right: -50px;
                margin-top: 50px;
            }
        }
        .open-video-popup{
            margin-top: 150px;
            margin-bottom: 100px;
            display: inline-block;
            @include bp(767px){
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
    .section-how .acc-title {
        margin-bottom: 10px;
    } 


    .section-how .subtitle {
        font-family: 'din-pro-con-black';
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
        line-height: 1em;
        font-size: 45px;
        @media (min-width: 992px) {
            font-size: 60px;
        }
    }


    .section-how.how-premium {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .section-how.how-premium .how-to-text {
        padding-top: 150px;
        padding-bottom: 150px;
        background: #2F2F2F url(img/assets/range-premium/how-to-premium.jpg) no-repeat center;
        background-size: cover;
        position: relative;
        z-index: 2;
        opacity: 1;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .section-how.how-premium.video-played .how-to-text {
        opacity: 0
    }

    .section-how.how-premium .how-to-text.below {
        z-index: -1
    }

    .section-gas-history {
        background: #2F2F2F url(img/assets/range-premium/history-bg.jpg) no-repeat center;
        background-size: cover;
        color: #fff;
        position: relative;
        z-index: 5;
        display: none;
    }

    .range-premium .right-col {
        background: rgba(228, 56, 56, 0.8);
        width: 50%;
        float: right;
    }

    .section-gas-history h3 {
        font-size: 42px;
        margin: 0 0 20px 0;
    }


    .range-premium .range-series-section.range-1 {
        width: 28.33622183708840%;
    }

    .range-premium .range-series-section.range-2 {
        width: 33.53552859618720%;
    }

    .range-premium .range-series-section.range-3 {
        width: 38.12824956672440%;
    }

    .range-premium .range-series-section {
        width: 50%!important
    }

    .range-premium .image-placeholder .bbq {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .range-premium .range-series-section .image-hover {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -30px;
    }


    .section-how.how-charcoal {
        background: #2F2F2F url(../../../img/charcoal.png);
        padding-top: 150px;
        text-align: center;

        @media (max-width: 767px) {
            padding-top: 22px;
        }
    }

    .section-how.how-charcoal .main-image {
        position: relative;
    }

    .range-charcoal .snapshot-range {
        margin-top: -310px;
    }

    .range-charcoal .snapshot-range .snap1 {
        top: 340px;
        left: 440px;
    }

    .range-charcoal .snapshot-range .snap2 {
        top: 340px;
        left: 1125px;
    }

    .range-charcoal .snapshot-range .snap3 {
        top: 620px;
        left: 600px;
    }

    .range-charcoal .snapshot-range .snap4 {
        top: 620px;
        left: 1185px;
    }

    .range-charcoal .snapshot-range .snap5 {
        top: 995px;
        left: 715px;
    }
    /* 
    .filter-section .container {
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
    .filter-item-icon {
        height: 198px;
        width: 198px;
        position: relative;
        padding: 10px;
        border-radius: 50%;
        margin-top: 32px;

        &:before {
            top: 4px;
            bottom: 4px;
            left: 4px;
            right: 4px;
            content: "";
            position: absolute;
            border: 1px solid currentColor;
            border-radius: inherit;
        }
        &:after {
            top: -4px;
            bottom: -4px;
            left: -4px;
            right: -4px;
            content: "";
            position: absolute;
            border: 2.5px dashed rgba(#000,.15);
            border-radius: inherit;
        }

        .icon-type {
            top: 25px;
            bottom: 25px;
            left: 25px;
            right: 25px;
            position: absolute;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .single-product & {
            height: 120px;
            width: 120px;
        }
        @media (max-width: 991px) {
            width: calc(25vw - 60px);
            height: calc(25vw - 60px);
            
            .icon-type {
                left: 12px;
                right: 12px;
                top: 12px;
                bottom: 12px;
            }
        }
        @media (max-width: 767px) {
            width: calc(25vw - 50px);
            height: calc(25vw - 50px);
            
            .icon-type {
                left: 12px;
                right: 12px;
                top: 12px;
                bottom: 12px;
            }
        }

    }

    a.filter-item-content{
        color: dimgray !important;

        &.active-circle{
            color: red !important;

            .filter-item-icon:after {
                border: 2.5px dashed currentColor;
            }
            .filter-item-icon:before {
                border-width: 3px;
            }
        }
    } */

.template-sub-heading.h3-full {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    margin: -.1875em 0 -.375em;

    @media (max-width: 991px) {
        transform: translateY(12px);
    }
}

body.campaign-one-product{
    .single-product-content{
        .product-main-detail{
            padding-top: 60px;
            @include bp(1200px){
                padding-top: 40px;
            }
            @include bp(767px){
                padding-top: 20px;
            }
        }
    }
    .product-specification{
        border-bottom: 1px solid $dn-text-color;
    }
    &.home .desc{
        h2{
            font-size: 60px;
            line-height: 1.05em;

            @include bp(1200px){
                font-size: 50px;
                line-height: 1.125em;
            }

            @include bp(991px){
                font-size: 45px;
                line-height: 1.15384615em;
            }
        }
    }
}



  .border-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

         .icon-type {
            top: 25px;
            bottom: 25px;
            left: 25px;
            right: 25px;
            position: absolute;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }



    .product-main-detail {
        margin-bottom: 80px;
    }

    .single-product-content {
        font-family: 'weber-serif-light';
        position: relative;
    }

    .single-product-content .accessories-section {
        position: relative;
    }

    /* .single-product-content .accessories-section:before {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 20px;
        top: -15px;
        background-image: url(img/tear-top-grey.png);
        background-position: top center;
    }

    .single-product-content .weber-brand {
        font-family: 'weber-serif-bold';
        font-size: 37px;
        line-height: 1em;
        display: block;
        text-transform: uppercase;
    }

    .single-product-content h1 {
        font-family: 'weber-serif-bold';
        font-size: 37px;
        margin: 0;
        line-height: 1em;
        text-transform: uppercase;
        clear: none
    }
 */
    .price-color {
        margin-top: 30px;
        margin-bottom: 20px
    }

    .price-color .the-price {
        float: left
    }

    .price-color .the-price p {
        margin: 0;
        line-height: 1em;
    }

    .price-color .the-price p .amount {
        font-family: 'din-pro-bold';
        font-size: 30px;
    }

    .price-color .the-price .price-2 {
        margin-top: 15px
    }

    .price-color .the-price .second-note {
        font-family: 'din-pro-regular';
        font-size: 20px;
        line-height: 1.4em;
    }

    .price-color .the-price .rrp {
        font-family: 'din-pro-regular';
        font-style: italic;
        font-size: 27px
    }

    .price-color .color-choice {
        font-size: 18px;
        text-align: left;
        line-height: 1em;
        float: left;
        margin-top: 30px;
    }

    .price-color .color-choice form {
        display: inline-block
    }

    .badge-guarantee {
        float: right;
        margin-left: 60px;
        position: relative;
        max-width: 50%
    }

    .badge-guarantee .the-badges {
        display: table-cell;
        vertical-align: middle;
    }

    .badge-guarantee img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px
    }

    .sold-out-badge {
        position: absolute;
        z-index: 56;
        top: 0;
        left: 0
    }

    .color-choice input[type="radio"] {
        display: none
    }

    .color-choice .color-label {
        width: 20px;
        height: 20px;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        margin: 0px 5px
    }

    .color-choice .color-label:before {
        content: '';
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 6px;
        background: #fff;
        display: none
    }

    .color-choice input[type="radio"]:checked+label .color-label:before {
        display: block;
    }

    .single-product-compare {
        background: #2F2F2F url(img/button-black-long.png) no-repeat center;
        background-size: 100% 100%;
        padding: 10px 30px;
        color: #fff;
        display: inline-block;
        text-align: right;
        white-space: nowrap;
        margin:0;
        width:157px;
    }

    .single-product-compare:hover {
        opacity: 0.8;
    }

    .single-product-compare a {
        font-size: 17px;
        color: #fff;
        vertical-align: text-bottom;
    }

    #product-slider-container {
        position: relative;
        text-align: center
    }

    #product-slider-container:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.85);
        z-index: 59;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        opacity: 0;
        display: none
    }

    #product-slider-container.loading:before {
        opacity: 1;
        display: block
    }

    #product-slider-container .loading-infinite {
        display: none;
        opacity: 0;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    #product-slider-container.loading .loading-infinite {
        display: block;
        opacity: 1;
    }

    #product-slider ul.slides li {
        display: none;
    }

    #product-slider ul.slides li:first-child {
        display: block;
    }

    .single #product-carousel{
        margin-bottom:50px
    }

    #product-carousel {
        margin-top: 30px;
        width: 90%;
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 55;
    }

    #product-carousel ul.slides li {
        max-width: 65px;
        float: left
    }

    #product-carousel ul.slides li .inner-thumb {
        border: 1px solid #dfdfdf;
        margin: 6px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #product-carousel ul.slides li.flex-active-slide .inner-thumb {
        border-color: #E02626
    }

    #product-carousel ul.slides li .inner-thumb img {
        display: block
    }

    .flex-direction-nav a {
        width: 14px;
        height: 20px;
        background: #2F2F2F url(img/slider-nav2.png) no-repeat top left;
        text-indent: 99999em;
        display: inline-block;
        margin: -10px 0 0;
    }

    #product-carousel .flex-direction-nav .flex-prev {
        left: -25px;
        opacity: 1
    }

    #product-carousel .flex-direction-nav .flex-next {
        background: #2F2F2F url(img/slider-nav2.png) no-repeat top right;
        right: -25px;
        opacity: 1
    }

    #product-carousel.flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 0.7;
        left: -25px;
    }

    #product-carousel.flexslider:hover .flex-direction-nav .flex-next {
        opacity: 0.7;
        right: -25px;
    }

    #product-carousel .flex-direction-nav .flex-disabled {
        opacity: 0.2!important
    }

    .devider {
        width: 100%;
        height: 5px;
        background: #2F2F2F url(img/separator-line-long.svg) no-repeat left;
        display: block;
        margin: 30px 0
    }

    .product-find-retailer .input-holder{
        width: 350px;
        position:relative;
        margin-bottom: 30px;
        max-width: 90%;
        .input-bg, svg{
            @include absolute
        }
        input {
            background-color: transparent;
            //background-image: url(img/input-big.png)!important;
            background-repeat: no-repeat;
            background-position: left center;
            width: 350px;
            height: 59px;
            outline: none!important;
            border: none!important;
            padding: 0px;
            text-align: center;
            color: #454545;
            font-size: 19px;
            max-width: 100%;
        }
    }

    .product-find-retailer .button-holder input {
        margin-top: 20px;
        font-size: 25px;
        padding: 10px 50px;
    }

    .product-find-retailer h3 {
        font-size: 30px;
        color: #e02626
    }

    .product-features {
        position: relative;
        padding-top: 10px;
        width: 100%;
    }


    .product-feature-col {
        font-family: 'weber-serif-bold';
        font-size: 26px;
        float: left;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        line-height: 1.1;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        @include bp(991px){
            width: 50%!important;
        }
        @include bp(767px){
            width: 100%!important;
        }
    }

    .product-feature-col:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.65+96 */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: #2F2F2F url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(96%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.65)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
        /* IE6-8 */
    }

    .product-feature-col .feature {
        position: absolute;
        bottom: 20px;
        width: 100%;
        z-index: 10;
    }

    .product-feature-col .feature span {
        width: 90%;
        margin: 0px auto 12px;
        display: block;
    }

    .product-specification {
        padding: 80px 0 42px;
        background-color: #fff;
    }

    .product-specification .titles,
    .product-specification .spec-detail {
        margin-bottom: 50px
    }

    .product-specification .spec-detail .spec-item {
        margin-bottom: 2em
    }

    .product-specification .spec-detail h4 {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0
    }

    .product-specification .spec-detail p {
        margin: 0 0 0.2em 0
    }

    .product-specification h2 {
        font-size: 37px;
        margin: 0;
        line-height: 1em;
    }

    .product-specification h2 span {
        font-family: 'weber-serif-bold';
        text-transform: uppercase;
        color: #000;
        font-size: 42px;
        line-height: 1em;
    }

    .product-specification h3 {
        font-family: 'weber-serif-bold';
        text-transform: uppercase;
        color: #000;
        font-size: 42px;
        margin: 0
    }

    .product-specification .spec-image {
        text-align: center;
    }

    .product-specification .download-button a {
        color: #3a3a3a;
        font-size: 21px;
        display: inline-block;
        padding: 0 50px;
        text-decoration: none;
        position: relative;
        background: #2F2F2F url(img/background-button.png) no-repeat center;
        background-size: 100% 100%;
        text-align: center
    }

    .product-specification .download-button a span {
        position: relative;
        padding: 10px 30px;
        display: inline-block
    }

    .product-specification .download-button a span:before {
        content: '';
        position: absolute;
        width: 21px;
        height: 26px;
        top: 12px;
        left: 0;
        background-image: url(img/download-button.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .product-specification .download-button a:hover {
        opacity: 0.7
    }

    .inner-select-compare {
        width: 90%;
        margin: 0 auto
    }

    .inner-select-compare .selectboxit-btn {
        background: #838383
    }

    .inner-select-compare .selectboxit-container * {
        color: #000000
    }

    .inner-select-compare .selectboxit-text {
        color: #fff
    }

    .inner-select-compare .selectboxit-btn.selectboxit-enabled:hover,
    .inner-select-compare .selectboxit-btn.selectboxit-enabled:focus {
        color: #fff;
        background: #838383
    }

    .inner-select-compare .selectboxit-list .selectboxit-focus .selectboxit-option-anchor a,
    .inner-select-compare .selectboxit-list .selectboxit-focus a .inner-select-compare .selectboxit-list .selectboxit-option:hover a,
    .inner-select-compare .selectboxit-list .selectboxit-selected a {
        color: #000000!important;
    }

    .inner-select-compare .selectboxit-container .selectboxit-options {
        max-height: 300px
    }

   /*  .accessories-search {
        position: relative;
    }

    .accessories-search:before {
        content: '';
        position: absolute;
        background-repeat: repeat-x;
        height: 20px;
        width: 100%;
        left: 0;
        z-index: 50;
        top: -19px;
        //background-image: url(img/tear-top.png);
        background-image: url(img/tear-bottom-top.png);
        background-position: top center;
    }

    .accessories-search:after {
        content: '';
        position: absolute;
        background-repeat: repeat-x;
        height: 20px;
        width: 100%;
        left: 0;
        z-index: 50;
        bottom: -19px;
        background-image: url(img/tear-bottom-top.png);
        background-position: bottom center;
    }

    .accessories-search-inner {
        background: #232020;
        color: #fff;
        padding: 10px 0
    }

    .accessories-search .title {
        font-family: 'umbrageregular';
        font-size: 25px;
        padding-right: 15px
    }

    .accessories-search #search-accessories {
        display: inline-block;
        vertical-align: middle
    }

    .accessories-search #search-accessories input[type="submit"] {
        margin-left: 10px;
    }
 */
    .select-acc-container {
        width: 500px;
        float: left
    }

    .selectboxit-container,
    .selectboxit,
    .selectboxit-options {
        width: 100%!important;
    }


    /* VIDEOS */

    .featured-video-slider ul li {
        position: relative
    }

    .featured-video-slider .play-button,
    .related-video .play-button {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        z-index: 4;
    }

    .featured-video-slider ul li a {
        font-size: 19px;
        text-shadow: 1px 1px 2px #000;
        color: #fff;
        text-decoration: none;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #fff;
    }

    .featured-video-slider ul li a .images-play {
        position: relative;
    }

    .featured-video-slider ul li a .play-button,
    .video-loop-container ul li a.images .play-button,
    .related-video ul li a .play-button {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
    }

    .featured-video-slider ul li a h4,
    .related-video ul li a h4 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0 0 25px 0
    }

    .featured-videos,
    .featured-recipes {
        text-align: center;
    }

    .featured-videos h2,
    .featured-recipes h2 {
        font-size: 42px;
        margin: 75px 0 0;
        line-height: 1em;
        color: #e00b19
    }

    .all-videos h2,
    .all-recipe h2 {
        font-size: 37px;
        font-weight: bold
    }

    .featured-videos h2 span,
    .featured-recipes h2 span {
        position: relative;
        display: inline-block
    }
    .featured-videos h2{
        position: relative
    }
    .featured-videos h2 .before {
        position: absolute;
        width: 42px;
        height: 40px;
        //background#2F2F2F url(img/featured-star.png) no-repeat center;
        left: 50%;
        margin-left: -21px;
        top: -55px;
        z-index: 10;
    }

    .featured-recipes h2 {
        position:relative;
        .before {
            position: absolute;
            width: 94px;
            height: 53px;
            left: 50%;
            margin-left: -47px;
            top: -60px;
            z-index: 10;
            svg{
                @include absolute
            }
        }
    }

    .grey-separator {
        width: 100%;
        height: 5px;
        background: #2F2F2F url(img/separator-line-grey.svg) no-repeat;
        background-size: 100% 100%;
        margin: 50px 0;
}


@import "page/page";
@import "plugins/slick";
@import "plugins/magnific";
@import "page/shop";
@import "page/cart";
@import "page/checkout";

