.site-footer {
    position: relative;
    padding: 60px 0;
    background: #fff;
}

.site-footer.footer-single-product {
    margin-top: 0
}

.site-footer:before {
    
}

#find-bbq-section:after{
    content: '';
    position: absolute;
    height: 23px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: url(https://test.weberbbq.com.au/wp-content/themes/weber/img/tear-bottom-white.png) repeat-x center;
    z-index: 50
}

.site-footer .site-info {
    margin-top: 70px;
    text-align: center
}

.site-footer .logo-footer {
    margin-bottom: 30px
}

.site-footer .weblink-footer,
.site-footer .weblink-footer a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.footer-widget {
    font-size: 16px;
}

.footer-widget ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-widget p {
    margin-bottom: 10px;
}

.footer-widget .widget-title {
    text-transform: uppercase;
    color: #b2b2b2;
    font-size: 17px;
    font-weight: normal!important
}

.footer-widget a,
.footer-widget strong {
    text-decoration: none;
    color: #000000!important;
    font-style: normal;
    font-weight: normal;
}

.footer-widget .social-footer li {
    display: inline-block;
    margin-bottom: 10px
}

.footer-widget .social-footer li a {
    width: 64px;
    height: 65px;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color:#000;
    // svg{
    //     @include absolute
    // }
    &:hover,&:active{
        color:red !important;
    }
}


.footer-widget input[type="email"],
.footer-widget .gform_wrapper .footer-newsletter input[type=text] {
    background-color: transparent!important;
    background-image: url(https://test.weberbbq.com.au/wp-content/themes/weber/img/footer-input-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none!important;
    outline: none;
    min-height: 45px;
    width: 100%!important;
    padding: 0px 20px!important;
    margin-bottom: 20px
}

.footer-widget .gform_wrapper .gform_footer {
    padding: 0;
    margin: 0
}

.gform_wrapper .footer-newsletter label {
    display: none!important
}

.gform_wrapper .footer-newsletter .validation_error {
    display: none
}

.gform_wrapper .footer-newsletter li.gfield.gfield_error {
    background-color: transparent!important;
    margin-bottom: 0!important;
    border: none!important;
    width: 100%!important
}

.gform_wrapper .footer-newsletter li {
    position: relative
}

.gform_wrapper .footer-newsletter li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    width: auto;
    padding-right: 0px!important;
    margin: 0!important;
    position: absolute;
    top: 50%;
    right: -100px;
    color: #fff;
    background: url(https://test.weberbbq.com.au/wp-content/themes/weber/img/validate-message.png) no-repeat center;
    background-size: 100% 100%;
    padding: 10px 25px!important;
    display: inline-block;
    transform: translateY(-50%);
    z-index: 5;
}

.gform_wrapper .footer-newsletter li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-left: 0!important
}