@import "../default/mixins";

.archive-header{
    background: #313131;
    color: #fff;
    h1{
        margin: 0;
    }
    .archive-description{
        p{
            margin-top: .5rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}

.results{
    @include standard-container-padding
}

.infinite-status-container{
    text-align: center;
}