@import "../default/mixins";

.site-search {

    .intro {
        padding-top: 6rem;
        padding-bottom: 6rem;

        @media ( max-width: 991px) {
            padding-top: 4rem;
            padding-bottom: 4rem;
          
        }
        @media ( max-width: 767px) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        text-align: center;
        background-color: #222;

        .text-content {
            @include remove-leading-margins();
            margin-bottom: 27px;
            * {
                color: white;
            }
        }
    }

    form{
        position: relative;
        .search-submit{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }

    .results{
        @include standard-container-padding
    }


}