.woocommerce-message::before,
.woocommerce-message::after,
.woocommerce-info::before,
.woocommerce-info::after,
.woocommerce-error::before,
.woocommerce-error::after,
.woocommerce-noreviews::before,
.woocommerce-noreviews::after,
p.no-comments::before,
p.no-comments::after {
  content: "";
  display: table;
}

/**
 * My Account
 */
label.inline {
  display: inline !important;
  margin-left: 1em;
}

.woocommerce-MyAccount-navigation ul {
  margin-left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 0;
}
.woocommerce-MyAccount-navigation ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
  text-decoration: none;
  padding: 0.875em 0;
  display: block;
}

ul.order_details {
  list-style: none;
  position: relative;
  margin: 3.706325903em 0;
}
ul.order_details::before,
ul.order_details::after {
  content: "";
  display: table;
}
ul.order_details::after {
  clear: both;
}
ul.order_details::before,
ul.order_details::after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background-size: 0 100%, 16px 16px, 16px 16px;
}
ul.order_details::after {
  top: auto;
  bottom: -16px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul.order_details li {
  text-transform: uppercase;
}
ul.order_details li:first-child {
  padding-top: 1.618em;
}
ul.order_details li:last-child {
  border: 0;
  padding-bottom: 1.618em;
}
ul.order_details li strong {
  display: block;
  font-size: 1.41575em;
  text-transform: none;
}

.my_account_orders .button,
.woocommerce-MyAccount-downloads .button {
  padding: 0.6180469716em 0.875em;
  font-size: 0.875em;
  margin-right: 0.236em;
}

.woocommerce-MyAccount-content h2 {
  font-size: 2em;
  font-weight: 600;
}

.woocommerce-MyAccount-content #payment .payment_methods {
  margin-bottom: 1.618em !important;
}
