@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?gehncl");
    src: url("fonts/icomoon.eot?gehncl#iefix") format("embedded-opentype"),
      url("fonts/icomoon.ttf?gehncl") format("truetype"),
      url("fonts/icomoon.woff?gehncl") format("woff"),
      url("fonts/icomoon.svg?gehncl#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    @include icomoon-font();
  }
  
  .icon-DN_black:before {
    content: "\e919";
  }
  .icon-checked:before {
    content: "\e917";
  }
  .icon-map:before {
    content: "\e913";
  }
  .icon-share:before {
    content: "\e914";
  }
  .icon-youtube:before {
    content: "\e90a";
  }
  .icon-vimeo:before {
    content: "\e90b";
  }
  .icon-skype:before {
    content: "\e90c";
  }
  .icon-google-plus:before {
    content: "\e90d";
  }
  .icon-linkedin:before {
    content: "\e90e";
  }
  .icon-instagram:before {
    content: "\e90f";
  }
  .icon-twitter:before {
    content: "\e910";
  }
  .icon-pinterest:before {
    content: "\e911";
  }
  .icon-facebook:before {
    content: "\e912";
  }
  .icon-close:before {
    content: "\e918";
  }
  .icon-minus:before {
    content: "\e906";
  }
  .icon-plus:before {
    content: "\e905";
  }
  .icon-chevron-right:before {
    content: "\e901";
  }
  .icon-chevron-left:before {
    content: "\e902";
  }
  .icon-chevron-down:before {
    content: "\e903";
  }
  .icon-chevron-up:before {
    content: "\e904";
  }
  .icon-search:before {
    content: "\e900";
  }
  .icon-mail:before {
    content: "\e915";
  }
  .icon-clock:before {
    content: "\e916";
  }
  .icon-checkmark:before {
    content: "\e909";
  }
  .icon-paperplane:before {
    content: "\e907";
  }
  .icon-shopping-cart:before {
    content: "\e908";
  }

  /*-------------------------------
  # FOR: weber-serif-regular
  --------------------------------*/
  @font-face {
      font-family: 'weber-serif-regular';
      src: url("fonts/weber-serif/weber-serif-regular.eot");
      src: url("fonts/weber-serif/weber-serif-regular.eot?#iefix") format("embedded-opentype"),
           url("fonts/weber-serif/weber-serif-regular.woff") format("woff"),
           url("fonts/weber-serif/weber-serif-regular.ttf") format("truetype"),
           url("fonts/weber-serif/weber-serif-regular.svg#weber-serif-regular") format("svg");
      font-weight: normal;
      font-style: normal;
  }

  /*-------------------------------
  # FOR: weber-serif-light
  --------------------------------*/
  @font-face {
      font-family: 'weber-serif-light';
      src: url("fonts/weber-serif/weber-serif-light.eot");
      src: url("fonts/weber-serif/weber-serif-light.eot?#iefix") format("embedded-opentype"),
           url("fonts/weber-serif/weber-serif-light.woff") format("woff"),
           url("fonts/weber-serif/weber-serif-light.ttf") format("truetype"),
           url("fonts/weber-serif/weber-serif-light.svg#weber-serif-light") format("svg");
      font-weight: normal;
      font-style: normal;
  }

  /*-------------------------------
  # FOR: weber-serif-bold
  --------------------------------*/
  @font-face {
      font-family: 'weber-serif-bold';
      src: url("fonts/weber-serif/weber-serif-bold.eot");
      src: url("fonts/weber-serif/weber-serif-bold.eot?#iefix") format("embedded-opentype"),
           url("fonts/weber-serif/weber-serif-bold.woff") format("woff"),
           url("fonts/weber-serif/weber-serif-bold.ttf") format("truetype"),
           url("fonts/weber-serif/weber-serif-bold.svg#weber-serif-bold") format("svg");
      font-weight: normal;
      font-style: normal;
  }


  /*-------------------------------
  # FOR: weber-serif-bold
  --------------------------------*/
  @font-face {
      font-family: 'weber-serif-bold';
      src: url("fonts/weber-serif/weber-serif-bold.eot");
      src: url("fonts/weber-serif/weber-serif-bold.eot?#iefix") format("embedded-opentype"),
           url("fonts/weber-serif/weber-serif-bold.woff") format("woff"),
           url("fonts/weber-serif/weber-serif-bold.ttf") format("truetype"),
           url("fonts/weber-serif/weber-serif-bold.svg#weber-serif-bold") format("svg");
      font-weight: normal;
      font-style: normal;
  }



  /*-------------------------------
  # FOR: din-pro-regular
  --------------------------------*/
  @font-face {
      font-family: 'din-pro-regular';
      src: url("fonts/din-pro/din-pro-regular.eot");
      src: url("fonts/din-pro/din-pro-regular.eot?#iefix") format("embedded-opentype"),
           url("fonts/din-pro/din-pro-regular.woff") format("woff"),
           url("fonts/din-pro/din-pro-regular.ttf") format("truetype"),
           url("fonts/din-pro/din-pro-regular.svg#din-pro-regular") format("svg");
      font-weight: normal;
      font-style: normal;
  }

  /*-------------------------------
  # FOR: din-pro-regular
  --------------------------------*/
  @font-face {
      font-family: 'din-pro-con-medium';
      src: url("fonts/din-pro/din-pro-con-medium.eot");
      src: url("fonts/din-pro/din-pro-con-medium.eot?#iefix") format("embedded-opentype"),
           url("fonts/din-pro/din-pro-con-medium.woff") format("woff"),
           url("fonts/din-pro/din-pro-con-medium.ttf") format("truetype"),
           url("fonts/din-pro/din-pro-con-medium.svg#din-pro-con-medium") format("svg");
      font-weight: normal;
      font-style: normal;
  }

  /*-------------------------------
  # FOR: din-pro-regular
  --------------------------------*/
  @font-face {
      font-family: 'din-pro-con-black';
      src: url("fonts/din-pro/din-pro-con-black.eot");
      src: url("fonts/din-pro/din-pro-con-black.eot?#iefix") format("embedded-opentype"),
           url("fonts/din-pro/din-pro-con-black.woff") format("woff"),
           url("fonts/din-pro/din-pro-con-black.ttf") format("truetype"),
           url("fonts/din-pro/din-pro-con-black.svg#din-pro-con-black") format("svg");
      font-weight: normal;
      font-style: normal;
  }

  /*-------------------------------
  # FOR: din-pro-regular
  --------------------------------*/
  @font-face {
      font-family: 'din-pro-bold';
      src: url("fonts/din-pro/din-pro-bold.eot");
      src: url("fonts/din-pro/din-pro-bold.eot?#iefix") format("embedded-opentype"),
           url("fonts/din-pro/din-pro-bold.woff") format("woff"),
           url("fonts/din-pro/din-pro-bold.ttf") format("truetype"),
           url("fonts/din-pro/din-pro-bold.svg#din-pro-bold") format("svg");
      font-weight: normal;
      font-style: normal;
  }



  /*--------------------------------------------------------------
  Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
  --------------------------------------------------------------*/

  @font-face {
      font-family: 'GloberBlack';
      src: url('webfonts/2E3196_0_0.eot');
      src: url('webfonts/2E3196_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_0_0.woff2') format('woff2'), url('webfonts/2E3196_0_0.woff') format('woff'), url('webfonts/2E3196_0_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberBook';
      src: url('webfonts/2E3196_1_0.eot');
      src: url('webfonts/2E3196_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_1_0.woff2') format('woff2'), url('webfonts/2E3196_1_0.woff') format('woff'), url('webfonts/2E3196_1_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberBold';
      src: url('webfonts/2E3196_2_0.eot');
      src: url('webfonts/2E3196_2_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_2_0.woff2') format('woff2'), url('webfonts/2E3196_2_0.woff') format('woff'), url('webfonts/2E3196_2_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberBoldItalic';
      src: url('webfonts/2E3196_3_0.eot');
      src: url('webfonts/2E3196_3_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_3_0.woff2') format('woff2'), url('webfonts/2E3196_3_0.woff') format('woff'), url('webfonts/2E3196_3_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberBlackItalic';
      src: url('webfonts/2E3196_4_0.eot');
      src: url('webfonts/2E3196_4_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_4_0.woff2') format('woff2'), url('webfonts/2E3196_4_0.woff') format('woff'), url('webfonts/2E3196_4_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberBookItalic';
      src: url('webfonts/2E3196_5_0.eot');
      src: url('webfonts/2E3196_5_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_5_0.woff2') format('woff2'), url('webfonts/2E3196_5_0.woff') format('woff'), url('webfonts/2E3196_5_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberHeavy';
      src: url('webfonts/2E3196_6_0.eot');
      src: url('webfonts/2E3196_6_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_6_0.woff2') format('woff2'), url('webfonts/2E3196_6_0.woff') format('woff'), url('webfonts/2E3196_6_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberHeavyItalic';
      src: url('webfonts/2E3196_7_0.eot');
      src: url('webfonts/2E3196_7_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_7_0.woff2') format('woff2'), url('webfonts/2E3196_7_0.woff') format('woff'), url('webfonts/2E3196_7_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberLight';
      src: url('webfonts/2E3196_8_0.eot');
      src: url('webfonts/2E3196_8_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_8_0.woff2') format('woff2'), url('webfonts/2E3196_8_0.woff') format('woff'), url('webfonts/2E3196_8_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberRegular';
      src: url('webfonts/2E3196_9_0.eot');
      src: url('webfonts/2E3196_9_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_9_0.woff2') format('woff2'), url('webfonts/2E3196_9_0.woff') format('woff'), url('webfonts/2E3196_9_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberLightItalic';
      src: url('webfonts/2E3196_A_0.eot');
      src: url('webfonts/2E3196_A_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_A_0.woff2') format('woff2'), url('webfonts/2E3196_A_0.woff') format('woff'), url('webfonts/2E3196_A_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberRegularItalic';
      src: url('webfonts/2E3196_B_0.eot');
      src: url('webfonts/2E3196_B_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_B_0.woff2') format('woff2'), url('webfonts/2E3196_B_0.woff') format('woff'), url('webfonts/2E3196_B_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberSemiBold';
      src: url('webfonts/2E3196_C_0.eot');
      src: url('webfonts/2E3196_C_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_C_0.woff2') format('woff2'), url('webfonts/2E3196_C_0.woff') format('woff'), url('webfonts/2E3196_C_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberSemiBoldItalic';
      src: url('webfonts/2E3196_D_0.eot');
      src: url('webfonts/2E3196_D_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_D_0.woff2') format('woff2'), url('webfonts/2E3196_D_0.woff') format('woff'), url('webfonts/2E3196_D_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberThin';
      src: url('webfonts/2E3196_E_0.eot');
      src: url('webfonts/2E3196_E_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_E_0.woff2') format('woff2'), url('webfonts/2E3196_E_0.woff') format('woff'), url('webfonts/2E3196_E_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberThinItalic';
      src: url('webfonts/2E3196_F_0.eot');
      src: url('webfonts/2E3196_F_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_F_0.woff2') format('woff2'), url('webfonts/2E3196_F_0.woff') format('woff'), url('webfonts/2E3196_F_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberxBoldItalic';
      src: url('webfonts/2E3196_10_0.eot');
      src: url('webfonts/2E3196_10_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_10_0.woff2') format('woff2'), url('webfonts/2E3196_10_0.woff') format('woff'), url('webfonts/2E3196_10_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'GloberxBold';
      src: url('webfonts/2E3196_11_0.eot');
      src: url('webfonts/2E3196_11_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2E3196_11_0.woff2') format('woff2'), url('webfonts/2E3196_11_0.woff') format('woff'), url('webfonts/2E3196_11_0.ttf') format('truetype');
  }

  @font-face {
      font-family: 'umbrageregular';
      src: url('webfonts/umbrage2-webfont.eot');
      src: url('webfonts/umbrage2-webfont.eot?#iefix') format('embedded-opentype'), url('webfonts/umbrage2-webfont.woff') format('woff'), url('webfonts/umbrage2-webfont.ttf') format('truetype'), url('webfonts/umbrage2-webfont.svg#umbrageregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'maridavidregular';
      src: url('webfonts/maridavid-webfont.eot');
      src: url('webfonts/maridavid-webfont.eot?#iefix') format('embedded-opentype'), url('webfonts/maridavid-webfont.woff2') format('woff2'), url('webfonts/maridavid-webfont.woff') format('woff'), url('webfonts/maridavid-webfont.ttf') format('truetype'), url('webfonts/maridavid-webfont.svg#maridavidregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }