//////////////////
// Form styling //
//////////////////
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  // Revert browseer/OS natural styling
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 60px;
  padding-left: 12px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border: 1px solid $dn-form-element-color;
  border-radius: 0;
  text-align: center;
  text-align: left;
  line-height: 1;

  // hide the placeholder
  // Form choice placeholder
  $placeholder-color: $dn-text-color;

  & {
    color: black;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $dn-primary-color;
    outline: none;
  }

  &.error {
    border-color: $dn-fail-color;
  }
}

textarea,
div.gform_wrapper textarea {
  height: 165px;
  resize: none;
  padding-top: 13px;
}

div.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0;
}

ul.gfield_checkbox,
ul.gfield_radio {
  margin: 0 !important;
  width: 100% !important;

  &>li {
    margin-bottom: 10px;
  }
}

input[type="checkbox"] {

  // Base for label styling
    position: absolute;
    left: -9999px;
  

  + label {
    position: relative;
    min-height: 31px;
    padding-top: 7px !important;
    padding-bottom: 5px !important;
    padding-left: 40px !important;
    cursor: pointer;
    font-weight: 400 !important;
  }

  // checkbox aspect
  + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $dn-form-element-color;
    background: #fff;
  }

  // checked mark aspect
  + label:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e909";
    position: absolute;
    top: 7px;
    left: 7px;
    transition: all 0.2s;
    color: $dn-secondary-color;
    font-size: 17px;
  }

  // checked mark aspect changes
  &:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked+label:after {
    opacity: 1;
    transform: scale(1);
  }
}

input[type="radio"] {

  // Base for label styling
  
    position: absolute;
    left: -9999px;


  +label {
    margin: 0 !important;
    position: relative;
    min-height: 31px;
    padding-top: 7px !important;
    padding-bottom: 5px !important;
    padding-left: 40px !important;
    cursor: pointer;
    font-weight: 400 !important;
  }

  // checkbox aspect
  +label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid $dn-form-element-color;
    background: #fff;
  }

  // checked mark aspect
  +label:after {
    content: " ";
    position: absolute;
    top: 8px;
    left: 8px;
    height: 14px;
    width: 14px;
    border-radius: 10px;
    background-color: $dn-secondary-color;
    transition: all 0.2s;
    font-size: 17px;
  }

  // checked mark aspect changes
  &:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked+label:after {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin select_box_styling {
  position: relative;
  width: 100%;
  height: 60px;

  select {
    width: 100% !important;
    height: 100%;
    border: 1px solid $dn-form-element-color;
    background: #fff;
    background-size: 20px;
    padding-left: 12px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;

    &:focus {
      outline: none;
    }

    &:-ms-expand {
      display: none;
    }

    -webkit-appearance: none;
    appearance: none;
    //font-size: 18px;
    line-height: 1.6;
  }

  &::before {
    @include icomoon-font;

    content: "\e903";
    background-color: $dn-form-element-color;
    width: 60px;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 21px;
    color: #fff;

    @include transition;
  }

  &:hover,
  &:active {
    select {
      border-color: $dn-primary-color;
    }

    &:before {
      background-color: $dn-primary-color;
    }
  }
}

.ginput_container_select {
  @include select_box_styling;
}

input[type="submit"] {
  @include dn-button-styling;
}


//////////////////////////////////
// Gravity Forms custom styling //
////////////////////////////////
@mixin FormliFieldStyles {
  position: relative;

  @media (min-width: 768px) {
    &:not([class*="col-"]) {
      width: 50%;
      width: calc(50% - 5px);
    }
  }

  &:last-of-type {
    width: 100%;
  }

  margin: 0;
  padding: 0;
  margin-top: 0 !important;

  @media (max-width: 767px) {
    width: 100%;
    display: block;
    padding: 0;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &::before {
    content: none;
  }

  margin-bottom: 10px;
}

@mixin FormulFieldStyles {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

// reversing annoying grav forms behaviours
@media only screen and (min-width: 641px) {
  .gform_wrapper.gform_validation_error div.gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: none !important;
  }
}

// combine here

ul.gform_fields {
  @include FormulFieldStyles;
}

li.gfield {
  @include FormliFieldStyles;

  //font-size: 18px;
  //line-height: 0;

  //@include bp(767px) {
  //  font-size: 18px;
  //}


  label {
    //display: none;
  }

  &.type-fileupload{
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
  &.type-select{
    line-height: 0;
  }
  &.type-text,
  &.type-phone,
  &.type-email,
  &.type-textarea {
    line-height: 0;
    label {
      display: block;
      position: absolute;
      top: 30.5px;
      left: 13px;

      @include bp(767px) {
        top: 30px;
      }

      

      @include transition;
    }

    &.type-textarea label {
      top: 26px;

      @include bp(767px) {
        top: 25px;
      }
    }

    input,
    textarea {
      @include transition;
    }
  }

  &.type-select{
    label {
      display: block!important;
      z-index: 5;
      position: absolute;
      font-size: 69%;
      left: 13px;
      top: 18px;
      font-style: normal;
    }
    select{
      padding-top: 13px;
    }
    .gf_placeholder{
      display: none;
    }
  }

  &.filled {

    &.type-text,
    &.type-phone,
    &.type-email,
    &.type-textarea {
      label {
        font-size: 69%;
        top: 18px;
        font-style: normal;
      }

      input{
        padding-top: 22px !important;
        padding-bottom: 8px !important;
      }
      textarea {
        padding-top: 28px !important;
        padding-bottom: 20px !important;
      }
    }

    &.type-textarea label {
      top: 18px;
    }
  }

  &.type-html {
    line-height: 1.5em;
    //font-size: 18px;

    h3 {
      letter-spacing: 1px;
    }
  }

  &.type-checkbox,
  &.type-radio {
    margin-top: 16px!important;
    margin-bottom: 10px!important;

    >label {
      display: block;
      margin-bottom: 10px;
      line-height: 1em;
      font-weight: 400;
    }

    ul li {
      margin-bottom: 5px;
 

      //@include bp(767px) {
      //  //font-size: 18px;
      // }
    }
  }

  .ginput_container {
    margin: 0;
  }

  .validation_message {
    display: none;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    background-image: none !important;
  }

  &.gfield_error {
    border: none;
    background: none !important;

    >label{
      color: $dn-fail-color;
    }

    .ginput_container {
      background: none !important;
      //margin-top: 8px !important;
    }

    &:last-of-type {
      width: 100%;
    }

    select,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    textarea {
      border-color: $dn-fail-color !important;
    }
    .ginput_container_select::before{
      background: $dn-fail-color;
    }

    &.type-multiselect .chosen-container-multi {
      border-color: $dn-fail-color !important;
    }

    &.type-checkbox,
    &.type-radio{
      >label{
        color: $dn-fail-color;
      }
    }
  }

/*   .gfield_label {
    margin-bottom: 20px !important;
  } */


  &.gfield.type-multiselect {
    line-height: 1.25em;


    //@include bp(767px) {
    //  font-size: 18px;
    //}


    /* .chosen-container-multi {
      width: 100% !important;
      position: relative;
      border-bottom: 1px solid #dfa1a2;

      input {
        border: none !important;
      }

      &.chosen-container-active {
        .chosen-drop {
          position: absolute;
          display: block;
        }
      }

      .chosen-drop {
        display: none;
        top: 100%;
        width: 100%;
        z-index: 55;
        padding: 10px;
        cursor: pointer;

        .result-selected {
          display: none;
        }
      }

      ul.chosen-choices {
        display: block;
        padding-left: 0;
        padding-right: 0;

        li {
          display: inline-block;
          width: auto !important;

          @include bp(767px) {
            font-size: 18px;
          }

          margin: 3px;
          padding-right: 8px;

          input {
            padding: 0 !important;
            opacity: .7;
            font-style: italic;
          }

          .search-choice-close {
            display: inline-block;
            position: absolute;
            border: none !important;
            width: 15px;
            height: 15px;
            background: $dn-primary-color;
            border-radius: 50%;
            top: -3px;
            right: 0px;
            font-weight: bold;
            color: $dn-secondary-color;
            text-align: center;
            line-height: 0;

            &:before {
              content: "\d7";
              font-size: 80%;
              top: -2px;
              display: inline-block;
              position: relative;
              line-height: 1;
            }

            &:hover {
              color: $dn-primary-color;
            }
          }

          
        }
      }
    } */
  }
}

.gfield_description{
  line-height: 1.5em;
    font-size: 85%;
    margin-top: 5px;
}

.dn-form-validation-error {
  position: relative;
  
  border: 1px solid $dn-fail-color;
  border-left-width: 4px;
  color: $dn-fail-color;
  text-align: left;
  padding: 15px 30px 15px 45px;
  margin-bottom: 10px;

  i {
      position: absolute;
      left: 13px;
      top: 50%;
      border-radius: 25px;
      transform: translateY(-50%) rotate(45deg);
      border: 1px solid $dn-fail-color;
      padding: 2px;
  }
}


.gfield_radio,
.gfield_checkbox{
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    label {
      display: block;
      line-height: 1em;
      font-size: 1rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
