// Typography reference
// https://typecast.com/blog/a-more-modern-scale-for-web-typography

h1, *.h1 {
    
    font-size: 3em;
    line-height: 1.05em;

    @include bp(1200px){
        font-size: 2.5em;
        line-height: 1.125em;
    }

    @include bp(991px){
        font-size: 2em;
        line-height: 1.25em;
    }

    @include bp-print(){
        font-size: 36pt;
        line-height: 1.25em;
    }
    
    
   
}

h2, *.h2 {

    font-size: 3.75em;
    line-height: 1.125em;

    @include bp(1200px){
        font-size: 2em;
        line-height: 1.125em;
    }

    @include bp(991px){
        font-size: 1.625em;
        line-height: 1.15384615em;
    }

    @include bp-print(){
        font-size: 24pt;
        line-height: 1.25em;
    }
  
}

h3, *.h3 {

    font-size: 1.625em;
    line-height: 1.2em;

    @include bp(1200px){
        font-size: 1.5em;
        line-height: 1.2em;
    }

    @include bp(991px){
        font-size: 1.375em;
        line-height: 1.13636364em;
    }

    @include bp-print(){
        font-size: 18pt;
        line-height: 1.25em;
    }
   
}

h4, *.h4,
h5, *.h5,
h6, *.h6 {

    font-size: 1.25em;
    line-height: 1.22222222em;

    @include bp(991px){
        line-height: 1.11111111em;
    }

    @include bp-print(){
        font-size: 14pt;
        line-height: 1.25em;
    }
    
}

/* BUTTON */
.page-content-wrapper {
    // First selector ensures the WYSIWYG button creater is not created (span.dn-button > a)
    a:not(.dn-button):not(.special-link) {
        color: $dn-primary-color;
        border-bottom: 0;
        outline: 0;
        text-decoration: none;
        transition: color $main-transition-time $main-transition-type, border-color $main-transition-time $main-transition-type;
        -webkit-transition: color $main-transition-time $main-transition-type, border-color $main-transition-time $main-transition-type;
        -moz-transition: color $main-transition-time $main-transition-type, border-color $main-transition-time $main-transition-type;
        -o-transition: color $main-transition-time $main-transition-type, border-color $main-transition-time $main-transition-type;

        // &:hover {
        //     color: $dn-secondary-color;
        //     border-color: $dn-secondary-color;
        // }
    }

    a.special-link {
        &,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
}
@mixin dn-button-styling($type: standard, $color: standard) {
    text-decoration: none !important;
    border: 1px solid $dn-primary-color;
    background-color: $dn-primary-color;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    font-weight: 200;
    font-size: 1em;
    outline: 0;
    cursor: pointer;
    transition: all $main-transition-time $main-transition-type;
    -webkit-transition: all $main-transition-time $main-transition-type;
    -moz-transition: all $main-transition-time $main-transition-type;
    -o-transition: all $main-transition-time $main-transition-type;

    &:hover {
        border-color: $dn-secondary-color;
        background-color: $dn-secondary-color;
        color: white;
    }

    @include mobile-button-max-width;

    //////////////////
    // Button Style //
    //////////////////
    @if $type == "feature" {
        @include dn-buttontype-feature;
    }
    @else if $type == "mega" {
        @include dn-buttontype-mega;
    }

    &.feature-button {
        @include dn-buttontype-feature;
    }

    &.mega-button {
        @include dn-buttontype-mega;
    }

    ///////////////////
    // Button Colors //
    //////////////////
    @if $color == "secondary" {
        @include dn-button-styling-secondary;
    }
    @else if $color == "outline" {
        @include dn-button-styling-outline;
    }
    @else if $color == "dark" {
        @include dn-button-styling-dark;
    }

    &.color-secondary {
        @include dn-button-styling-secondary;
    }

    &.color-outline {
        @include dn-button-styling-outline;
    }

    &.color-dark {
        @include dn-button-styling-dark;
    }
}

@mixin dn-buttontype-feature {
    max-width: 230px;
    width: 100%;
    padding: 12px;

    @include mobile-button-max-width;
}

@mixin dn-buttontype-mega {
    max-width: 230px;
    width: 100%;
    padding: 17px;

    @include mobile-button-max-width;
}

@mixin dn-button-styling-outline {
    border-color: $dn-text-color;
    background-color: transparent;
    color: $dn-text-color;

    &:hover {
        border-color: $dn-text-color;
        background-color: $dn-text-color;
        color: white;
    }
}

@mixin dn-button-styling-dark {
    border-color: $dn-text-color;
    background-color: $dn-text-color;
    color: white;

    &:hover {
        border-color: $dn-text-color;
        background-color: transparent;
        color: $dn-text-color;
    }
}

@mixin dn-button-styling-secondary {
    border-color: $dn-secondary-color;
    background-color: $dn-secondary-color;
    color: white;

    &:hover {
        border-color: $dn-primary-color;
        background-color: $dn-primary-color;
        color: white;
    }
}

@mixin mobile-button-max-width {
    @media (max-width: 575px) {
        width: 100%;
        display: block;
        max-width: none;
    }
}

a.dn-button.dn-button {
    @include dn-button-styling;
}

span.dn-button.dn-button a {
    @include dn-button-styling;
}

.page-content-wrapper button {
    @include dn-button-styling;
}

.image-container {
    position: relative;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .mobile-sliding-blocks {
        display: flex;
        overflow: scroll;
        .sliding-block {
            width: calc( (100vw - 30px) * 0.9);
        }
    }
}