// load default burger 
@import "burger";

.site-branding,
.main-navigation{
    position: relative;
    z-index: 5;
}

body.header-stuck {
    .menu-blocky{
        //padding: 1em; // on sticky header
        transform: translateY(0%);
    }
}

// this duplicated menu only appear when page scrolled
.menu-on-scroll{
    position: fixed;
    top: 0;
    left: 0;
    @include transition;
    transform: translateY(-100%);
}

body.mobile-menu-open{
    #menu-blocky-resp{
        transform: translateY(0%);
    }
}

.menu-blocky{
    background: #000;
    color: #000;
    padding : 15px 0;
    display: table;
    @include transition;
    //position: fixed;
    z-index: 500;
    width: 100%;

    // on tablet and below disable header stuck
    @include bp(1200px){
        //padding: 1em;
    }

    @include bp(991px){
        position: fixed;
    }
    
    
    /// Blocky header style on fixed when on tablet below
    // The real content padding
    
    + .page-content-wrapper{
        padding-top: 0;
        @include bp(1200px){
            padding-top: 0;
        }
        @include bp(991px){
            padding-top: $header-height-sm;
        }
        @include bp(767px){
            padding-top: $header-height-xs;
        } 
    }

    .site-branding {
        // display: table-cell;
        vertical-align: middle;
        width: 200px; // logo width
        padding: 0 15px;
        @include bp(991px){
            padding: 0;
            width: auto;;
        }
        
        img{
            display: block;
            @include transition(opacity $main-transition-time $main-transition-type);
            // @include bp(1200px){
            //     height: 50px;
            //     width: auto;
            //     margin: 0 auto;
            // }
            height: 41px;
            @include bp(991px){
                margin: 0;
            }
            
        }
    }

    .menu-blocky-main-navigation{
        display: table-cell;
        vertical-align: middle;
        ul.menu{
            display: table;
            width: 100%;
            margin: 0;
            padding: 0;
            li{
                font-size: 1.25em;
                margin: 0;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                border-left: 1px solid #fff;
                padding: 20px 0; // adjust with design
                width: 16.67%; // calculate with the amount of the menu

                // add this class to Appearance > Menu
                &.highlight{
                    background-color:$dn-primary-color;
                    border-left: none;
                    +li{
                        border-left: none;
                    }
                }

                &:first-child{
                    border-left: none;
                }
               
                a{
                    color: #fff;
                    text-decoration: none;
                    @include transition(color $main-transition-time $main-transition-type);
                }
            }
        
            li.social-wrapper{
                width: 300px; // based on social width
                display: inline-block; // ensure this part using defined width
                @include bp(1400px){
                    width: 200px;
                }
                
                ul{
                    margin: 0;
                    padding: 0 30px;
                    li{
                        border: none;
                        color: #fff;
                        font-size: 1em;
                    }
                }
            }
        }
        
    }

    .social-link{
        a {
            line-height: 1;
            font-size: 80%;
            margin: 0 .5em;
            i{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    @include bp-print(){
        position: relative;
    }
    
}

#menu-blocky-resp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 400;
    overflow: auto;
    transform: translateY(-100%);
    display: block;
    color: #fff;
    @include transition(transform $main-transition-time $main-transition-type);

    /*
    padding-top: $header-height-lg;

    @include bp(1200px){
        padding-top: $header-height-md;
    }*/
    @include bp(991px){
        padding-top: $header-height-sm;
    }
    @include bp(767px){
        padding-top: $header-height-xs;
    } 

    // styling
    ul li {
        font-size: 1.25em;
        a{
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $dn-primary-color;
            }
        }
        ul.sub-menu li{
            font-size: .75em;
            margin: .5em 0;
        }
        &.current_page_parent,
        &.current-menu-item,
        &.current-menu-ancestor,
        &:hover {
            > a{
                color: $dn-primary-color;
            }
        }
    }


    .mobile-menu-wrapper{
        display: table;
        height: 100%;
        padding: 2em 4em;
        vertical-align: middle;

        @include bp(991px){
            width: 100%;
            text-align: center;
        }
        
    
        .mobile-menu-holder{
            display: table-cell;
            vertical-align: middle;
        }
    
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        } 
    }

    .social-navigation{
        padding: 20px 0;
        a{
            color: #fff;
            text-decoration: none;
            margin: 0 0.5em;
        }
    }
}

.burger-menu-blocky{
    display: inline-block;
    vertical-align: middle;
    .hamburger{
        text-align: right;
        .hamburger-box{
            vertical-align: middle;
        }
    }
}
