@import "../default/mixins";

.shader-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
}
.header-search-form.padded{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 2rem 0;
    background: #313131;
    transform: translateY(-100%);
    @include transition(transform  $main-transition-time $main-transition-type);
    form{
        position: relative;
        max-width: 700px;
        margin: 0 auto;
    }
    .search-submit{
        position: absolute;
        right: 0;
        top:0;
        height: 60px;
        width: auto;
    }
} 

body.search-open{
    .header-search-form{
        transform: translateY(0);
        top: 100%;
    }
}